@import "compass/css3";
@import "reset";

//coffee night
$d: #361E12;
$m: #4C2D18;
$l: #876D3A;
$grey: #9D957E;
//coffee night end

$w: 960px;
@include font-face("Xerography", font-files("/fonts/xerography.ttf", truetype));
@include font-face("Gunplay3D", font-files("/fonts/gunplay3D.ttf", truetype));

.bevel {
  @include box-shadow($d, 3px, 3px, 0, 0); }
.grad {
  @extend .bevel;
  @include radial-gradient(color-stops(white, $d), 30% 10%); }
.grad-light {
  @extend .bevel;
  @include radial-gradient(color-stops(white, $l), 30% 10%); }


ul.list-check {
  li {
    padding-left: 30px;
    background: url(/images/screw-head.png) no-repeat; } }

ul.list-img {
  display: table;
  margin: auto;
  li {
    float: left;
    border: 5px solid transparent;
    img {
      background: $l;
      padding: 10px;
      width: 200px; height: 200px;}}}
section#one { min-height: 350px; }
img.independent {
  float: left;
  margin-right: 20px; }
figure {
  background: $l;
  padding: 10px;
  width: 201px;
  margin: auto;
  figcaption {
    background: $m;
    color: $d;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; }
  img { width: 200px; height: 200px; }}

ol {
  width: 80%;
  margin: 20px auto; }


//general
a {
  text-decoration: none;
  font-family: sans-serif;
  color: black; }
ul { list-style: none; }
h1,h2 { 
  font-family: sans-serif;
  padding: 0.3em 0.3em 0.3em 10px;
  margin: 20px 0 20px -20px;
  @include border-radius(0 20px 20px 0); }
h1 { 
  background: $l;
  font-size: 2em; }
h2 {
  background: $grey;
  font-size: 1.25em; }
p {
  margin: 20px 0; }
body > header, body > footer {
  width: $w;
  margin: auto; }
#body-copy {
  background: white;
  width: 80 / 100 * $w;
  margin: 40px auto;
  padding: 20px;
  line-height: 1.33;
  @include border-radius(0 20px 0 20px);
  > nav { text-shadow: 1px 1px 0 white; } }
//general end

body { 
  background: url("/images/wood-pattern.png"); }

#body-copy > nav {
  position: fixed;
  top: 0; left: 50%;
  margin-left: - $w / 2;

  ul.sub {
    position: absolute;
    display: none;
    &:hover {
      display: block; }}
  ul.sub li.sub a {
    height: auto;
    @include border-radius(10px);
    margin-top: 5px; }
  li.main {
    float: left;
    a {
      @extend .grad;
      font-size: 10px;
      text-align: center;
      padding: 5px 0;
      display: inline-block;
      $home-w: 40px;
      &[href $="home"] {
        text-indent: -9999px;
        width: $home-w; height: $home-w;
        padding: 0;
        background: $l url("/images/home.png");
        vertical-align: top; }
      width: (960px - $home-w) / 10;
      height: 2em;
      @include border-radius(0 0 10px 10px);
      &:hover {
        @extend .grad-light;
        + ul.sub {
          display: block; }}}}}

body > header {
  @extend .bevel;
  @include linear-gradient(color-stops($m, white), top, image-url("/images/sun.png"));
  @include border-radius(0 20px);
  margin-top: 5em;
  height: 200px;
  position: relative;
  h1, span.phone-number, span.pitch { position: absolute; }
  h1 {
    background: url("/images/cityscape.png");
    border: none;
    left: 0; bottom: 0;
    font-family: "Gunplay3D";
    color: $l;
    font-size: 3em;
    font-weight: 100;
    text-shadow: none;
    margin: 0 0 0 20px;
    padding: 95px 18px 0; }
  span.phone-number {
    right: 0; bottom: -10px;
    color: $m;
    font-size: 3.5em;    
    font-family: "Xerography";
    font-weight: bold; }
  span.pitch {
    right: 5px; bottom: 50px;
    font-weight: bold;
    font-style: italic;
    color: $l;
    font-size: 2em;
    text-shadow: $d 1px 1px 2px; }}

body > footer {
  @include border-radius(10px);
  @extend .grad;
  padding: 20px 0;
  margin-bottom: 40px; 
  text-align: center; }
