@import "compass/css3";
@import "reset";

//=:colors
//wasabi suicide
$musimusi: #FF4242;
$dead-palette: #F4FAD2;
$wasabi: #D4EE5E;
$polished-pebbles: #E1EDB9;
$holding-you: #F0F2EB;
//=:colors-end

body > header > ul.images { display: none; }

body > header {
  background: $polished-pebbles;
  width: 300px;
  margin: 40px 0 20px auto; }

#body-copy {
  background: $dead-palette;
  width: 700px;
  margin: auto; }

//=:nav
#body-copy { position: relative; }  
#body-copy > nav {
  background: $musimusi;
  position: absolute;
  left: -150px;

  //=:button
  ///=:common
  button.nav {
    padding: 18px 10px;
    border: none;
    @include border-radius(30px);  }
  ///=:specific
  &:hover {
    width: 250px;
    > button.nav {
    @include border-radius(30px 30px 0 0); }}

  //=:hide root and sub
  ul.pages { display: none; }
  ul.sections { display: none; }

  li.page > a { 
    background: green;
    display: inline-block;
    width: 99px; }
  ul.sections {
    background: gainsboro;
    width: 99px; }

  //=:display root
  button.nav:hover {
    + ul.pages { display: block; }}
  ul.pages:hover { display: block; }

  .inline-sub-menu {
      display: inline-block;
      margin: -42% 0 -42% -4px;
      vertical-align: middle; }
  li.page > a {
    &:hover + ul.sections {
      @extend .inline-sub-menu; }}
  ul.sections:hover { @extend .inline-sub-menu; } }
//=:nav-end
