- @title = "About Us| Expert Bed Bugs Exterminators |Bed Bugs NYC"
%h1 About Us
%p
  One of the major challenges being faced right now is eagerly looking at us with pangs of hunger and thirst choking their throats, like a hunter on the prowl! Looking for the right moment to strike, waiting for us to relax and lie down; while we rest unknowingly surrounded by millions of them. Humanity has been facing many challenges ever since its evolution, but no enemy has been so disapprovingly notorious than these bed bugs. The very thought of these parasitic species has been running ripples of paranoia down our spines since their evolution in general terminology 2000 years ago.
%p
  Over the years it has been diminishing yet resurfacing. Every time we destroyed its very essence, it has bounced back with much enthusiasm. All these years of technological advancements look ugly narrating about these bed bugs. But these blood- sucking parasites have been showing a major setback in their 'Hormonal Behavior' studied upon close scientific observation. Their 'soft spot' lies in their secretive 'pheromones'; which when stirred with some other chemicals in our laboratory, sweeps down generations of torture and intolerance all in one go. 
%p
  Our range of products and services are tailor made to entrap and eradicate the entire bug generation.
%p We believe in the concept of a bug free world!!!

%h2 Services
%ul.list-img
  %li
    %img{:src =>"./images/about-us4.jpg"}
  %li
    %img{:src =>"./images/about-us5.jpg"}
%ul.list-check
  %li
    24 x 7x 365 = no bed bugs!
  %li
    Free estimation upon queries!
  %li
    We are geared up to deal with every species of pests, bugs & rodents known to humans since 4th century BC
  %li
    We make sure your home is absolutely pest free, your sofas are clean & your bed is empty of all morbid creatures
  %li
    30 day follow up plan for what ifs and    what not!
%h2
  Our Staff                          
                                                             
%p
  Our teams of experts have genuine hatred for the pests, bugs and other rodents lingering around your household. It gives them immense pleasure to eliminate pests from your home, hotels, office; so much that they never get tired of it. They have earned their license after undergoing rigorous training in pest elimination. When you notice any unpleasant looking pest, bug, or rodent in or around your household, give us a call. Our customer support executives will gather & provide all the necessary information to our technical team within a matter of seconds. By the time you finish your call, they have already been left. Our dedicated pest elimination squad always makes it a point to attend every nook and corner of your house, till they are completely satisfied with their findings. Pests are something they can never trust in, neither should you, so if you have the slightest of doubts that your house maybe infected by bugs or other pests and rodents, give us a call; we will take care of the rest. Simple!
  
