- @title = "All Services| Expert Bed Bugs Exterminators |Bed Bugs NYC"
%article#all-services
  %h1 All Services
  %p
    We offer our services in accordance to tailor-made plans, specially crafted to fit into your house and the nature, scale of 'Pest Infestation'. Years of prolonged research has made us believe in development of pests and their tendency to resist the most hazardous of chemical substances. With the latest technology employed by us, we have now got the potential to intrude into their 'coping mechanisms', thus eradicating them efficiently.
  %p
    We also specialize in eradicating the following categories of infestations:
  %ul.list-check
    %li
      Spiders
    %li
      Ants
    %li
      Rats
    %li
      Rodents
    %li
      Squirrels
    %li
      Mice
    %li
      Cockroach
    %li
      Termites
    %li
      Flies
    %li
      Non Toxic Treatments
    %li
      Other Pest Control
    %li
      Mosquito
    %li
      Honey Bee
  %p
    Now you know, we are just a phone call (or a click) away. Our professionals will be there at your place once we get a call from you requesting our services.

  






%article#other-pest-control
  %h1 Other Pest Control
  %ul.list-img
    %li
      %img{:src => "./images/other-pest-control1.jpg"}
    %li
      %img{:src => "./images/other-pest-control2.jpg"}
    %li
      %img{:src => "./images/other-pest-control3.jpg"}
    %li
      %img{:src => "./images/other-pest-control4.jpg"}
  %p
    'Other pest control'-the link would puzzle some of you. A lot has already been written on mosquito, honeybee, spiders, rats etc. But besides all of them, there are various other pests and bugs that might trouble you. Though they are not as common as the above mentioned ones, it is necessary to be aware of them since if not treated on time, you might end up with some pretty nasty rashes.
  %h2 A list of few products that we offer for other pest control than the traditional ones is given below. 
  %ol
    %li
      %h3 Gophers:
      Noah's ark might have been built in Gopher wood but the significance of this rodent is no longer Biblical. It has made life hell for a huge mass. Gopher elimination products are one of the major selling ones from our other pest control product section. Smoke bombs consisting of sulphurous smoke are used to get rid of these rodents. It is however recommended to the customer that adequate precaution is taken while popping the smoke bombs in the Gopher hide-out. We do not want you to land up in a health trouble while getting rid of rodent trouble.
    %li
      %h3 Hornets:
      Specie from the family of eusocial wasp, this insect can lead to near death experience unless the victim is immediately given an epinephrine shot. The bite in itself is not fatal but conditions might take a deadly turn if the victim is allergic to the Hornet Venom. To prevent this, our product containing Pyrethrins can be used in vicinity.  The product is developed in such a way that it kills Hornets and wasps of over 20 types. Currently, it is largely popular in the restaurant, hotels and motels, food processing and food handling businesses. It is reasonably priced and very effect effective.
    %li
      %h3 Centipedes:
      A centipede bite is not fatal in most cases but it may result in fever, swelling, weakness and chills. Made form Deltamethrin, our products give 100% protection against these wicked pests. Equipped with a super active aerosol solvent, this product is trusted and recommended by many. It is advocated for residential as well as industrial use.
    %li
      %h3 Pantry moths and cloth moths:
      For the elimination of pantry moths and cloth moths, we have different product for different needs. An aerosol dispenser is recommended for home use while for industrial use we would suggest that you use our boric acid based spray. The spray might leave some residue but the effect is immediate and dire.
  %p
    We hope that the other pest control section was as useful as all other ones. All the above products are tested and suggested by a large group of satisfied customers. When are you joining the group?
