%article#landing
  %h1 All Services
  %p
    We offer our services in accordance to tailor-made plans, specially crafted to fit into your house and the nature, scale of 'Pest Infestation'. Years of prolonged research has made us believe in development of pests and their tendency to resist the most hazardous of chemical substances. With the latest technology employed by us, we have now got the potential to intrude into their 'coping mechanisms', thus eradicating them efficiently.
  %p
    We also specialize in eradicating the following categories of infestations:
  %ul.list-check
    %li
      Spiders
    %li
      Ants
    %li
      Rats
    %li
      Rodents
    %li
      Squirrels
    %li
      Mice
    %li
      Cockroach
    %li
      Termites
    %li
      Flies
    %li
      Non Toxic Treatments
    %li
      Other Pest Control
    %li
      Mosquito
    %li
      Honey Bee
  %p
    Now you know, we are just a phone call (or a click) away. Our professionals will be there at your place once we get a call from you requesting our services.
%article#ants
  %h1 Ants
  %p
    Ants are a major problem in every house. They are the most difficult household pests to control. In some cases, treatment methods such as spraying ant trails simply worsen the problem. In order to combat these creatures one needs to know some methods to control them. Many articles have been published on the web and newspapers about the menace and harm caused by these pests. One of the articles said "A 16-month-old girl bitten by a horde of ants was in a critical condition".
  %ul.list-img
    %li 
      %img{:src => "./images/ants1.jpg"}
    %li 
      %img{:src => "./images/ants2.jpg"}
    %li 
      %img{:src => "./images/ants3.jpg"}
  %p
    Just imagine, if these guests intrude your house then what will you do? It is very important to stop them before they enter your living area and harm you & your families. Ants reside in soil, producing characteristic mounds while some nest in homes behind mouldings, baseboards, countertops, in decaying or moisture damaged wood. Ants feed on different types of food, including starches, meats, fats, and sweets. Some also feed on honeydew, a sweet liquid produced by aphids and scale insects. 
  %p
    To get rid of this problem you can also use some sprays that are available in the market to keep pests away. If you are allergic to these sprays then you can also use chemical powders as an alternative. Oh yes, please keep infants away from these sprays & chemicals. Use of these methods can prove handy while tackling small groups of ants. But what if an entire army of these creatures intrudes your house? Do not worry we are there. We are just a phone call or a click away. Within minutes we shall be there to help you. So, now that you are aware of this menace, come on, hurry up, we are waiting for your call. We are the best in the business. We will come and drive these creatures away from your house. 
  
%article#cockroach
  %h1  Cockroach
  %p
    Cockroach has been one of our oldest enemies since ancient period and still they are surviving adapting the changes in environment. They are the wicked insect of nature found all over the world; and it's next to impossible to kick them out of our house, doesn't matter how hard we try. It is a nocturnal insect so difficult for you to find them out in day time. The favourite hide out of cockroaches is under refrigerator, gas, kitchen cabinet, cervices of wall, inside electronic equipment and many more.
  %p
    When cockroaches are hungry they eat almost anything even clothes also. There are many species of roach but the one who makes your life hell is German cockroach. They reproduce at a rapid pace and difficult to get rid of them completely. 
  %p
    But don't panic now!!! Here we are providing you some tips to tackle the notorious insect. Pull up your socks to fight with them with these tips and remedies.
  %ul.list-check
    %li 
      Always keep your house clean and vacuum it properly.
    %li 
      Do not leave dirty utensil in the sink over night.
    %li 
      Left over foods should be kept in a refrigerator or in a tightly closed container.
    %li 
      Garbage should be disposed at a regularly and should be kept outside the house.
    %li 
      Periodical check up for roach in every look and corner of house.
    %li
      Removal of unused furniture.
  %h2
    By using these tips you can reduce the chances and population of cockroach infestation. Below are some home remedies to get rid of cockroaches.
  %ul.list-check
    %li 
      Caulk every cracks and gaps from where cockroaches enter your house. 
    %li 
      Weatherstrip doors and window so outside roach should not get in.
    %li 
      Dust your house with boric acid powder; as such it should be out of reach to your children and pets.
    %li 
      Sticky trap is also beneficial to keep them away.
    %li 
      Sprinkling bay powder or mixture of baking soda and sugar on cockroach makes them dehydrate and die.
  %p
    I hope some of our tips and remedies will proof beneficial for you. And still you are unable to fight with them; then it is high time now. Pick up your phone and call us now...We will take care of cockroach with our own ways. If you are in need of service feel free to call us anytime.

%article#flies
  %h1  Flies
  %ul.list-img
    %li
      %img{:src => "./images/flies1.jpg"}
    %li
      %img{:src => "./images/flies2.jpg"}
  %p
    House flies have been buzzing all around us since millions of years. We all are very much familiar with it. They are very common household pests. Though they don't bite but plays a major role in transmitting disease. They love to visit all the dirty places like sewers, dumps, faecal matter, sputum, decaying matter and many more. As they come to rest they regurgitate and excrete thereby transmitting many diseases. 
  %p
    Flies are found all around the world. They hop into your house in warmer season and once they are in they can be a real pain. They reproduce at very fast rate though they have small life cycle. It keeps you irritating all the time by producing humming sound near you. It has been found that they are responsible for transmitting more than 65 diseases. It's not difficult to keeps them away from your house.
  %h2 Here we are giving you some basic tips to deal with flies.
  %ul.list-check
    %li 
      Maintaining proper sanitation keeps fly away for long time.
    %li 
      Keep all food covered in tightly lid container.
    %li 
      Keep trash can always clean and dispose it regularly.
    %li 
      Proper drainage will help in eliminating extra moisture from home.
    %li 
      Seal all the entry gaps in your home.
    %li
      You can have flyswatter to kill the fly. 
  %p
    By using these basic tips you can reduce the chances of their entry.  Below are some home remedies which are non toxic and very friendly for your health.
  %ul.list-check
    %li 
      Boric acid is commonly used natural insecticide. Dust your house with boric acid powder; as such it should be out of reach to your children and pets.
    %li 
      You can hang a pine bunch or keep lavender flower in your house. Because flies hate their smell.
    %li 
      You can have sticky traps near the windows or door..
    %li 
      A bowl of vinegar or a glass with water and mint leaves also keep the flies away.
  %p
    I hope all these tips and remedies will be beneficial for you. If you are unable to tackle them then call us on our helpline number and take our service.
  %p
    If you are in need of service feel free to call us anytime.

%article#honeybee
  %h1  Honey Bee
  %ul.list-img
    %li
      %img{:src => "./images/honeybee1.jpg"}
    %li
      %img{:src => "./images/honeybee2.jpg"}  
    %li
      %img{:src => "./images/honeybee3.jpg"}
  %p
    Right from early childhood, we are aware of honey bee as a cute little winged insect that collects nectar from flowers which is processed by human beings to form honey. The people who have been bitten by a bee, however, do not think so. It is a useful insect for human kind in more ways than one; but its bites are dreadful. A honey bee will sting only when it feels endangered, the sting being quite painful. We have introduced products for bee control so that you will never get a shot of this frightful experience. 
  %p
    At our stores, dusters specially designed for the elimination of bees are available. These dusters have tapered cork for accurate extermination. If you want to slay honey bees on a larger extent, a spray containing Lamdba- Cyhalothrin can be used. These have proved to be extremely useful in quick honey bee assassination.  It may also be used to secure the circumference of the house against a honey bee attack. Since some people might develop extreme reactions to a bee bite, it is wise to take a preventive action rather than curative.
  %p
    A honey bee dies if the stinger is torn out of its body. This tip might come in useful if you spot a single bee. In a case otherwise, we have a range of products that would come in handy. A Deltamethrin based spray is an excellent example of such a product. This spray leaves a residual dust which is not only useful to eliminate bees but also for various other insects. Its effect last for more than 6 months if it is left undisturbed. It is moisture non absorbent and does not plod.
  %p
    We provide you these products at a very low price. We have various schemes for those of you who buy multiple products or buy both product and services. Hurry up so that you life does not 'sting'.  

%article#mice
  %h1  Mice
  %ul.list-img
    %li 
      %img{:src => "./images/mice1.jpg"}
    %li
      %img{:src => "./images/mice2.jpg"}
    %li
      %img{:src => "./images/mice3.jpg"}
  %p
    Mice are the most damaging and troublesome rodents found in the United States. They are mistaken to be rats; they are usually are smaller than rats and have long ears. Some are small rodents with relatively large ears and small black eyes. They weigh about 1/2 ounce and usually are light brownish to gray in colour. An adult is about 5 to 7 inches long, including their tail. They contaminate and consume foods that are left open mistakenly and damage structures and properties. They even transmit diseases to other animals and humans. Mice live and thrive under a wide variety of climatic conditions and are frequently found in and around homes, farms, gardens, buildings, and open fields.
  %p
    How to Spot a mice Infestation?
  As they are active throughout the year, periodically for their presence is recommended. Once your house gets invaded a big trouble is there at your place and the damages endless. Unless your house is completely rodent proof, it is only a matter of time before these unwanted guests arrive. Many people have agreed that, the early someone implements the control measures the more effective would be the mice control program.
  %p
    Inspect your yard and home thoroughly. If the answer to any of the following questions is yes, you may have a big problem knocking your door.
  %ul.list-check
    %li 
      Do you find different faeces around your dog or cat dishes or pet food storage containers?
    %li 
      Do you hear noises coming from the attic just after dusk?
    %li 
      Does your dog or cat bring home dead animal carcasses?
    %li 
      Is there evidence of rodents feeding on fruit/nuts that are in or falling from the trees in your yard?
    %li 
      Do you see burrows among plants or damaged vegetables when working in the garden?
    %li
      Do you see small animals travelling along utility lines or on the tops of fences at dusk or soon after?
    %li
      Do you see burrows beneath your compost pile or beneath the garbage can?
    %li
      Did you ever remove dead mice from your swimming pool or hot tub?
    %li
      Do you see evidence of something digging happening under your garden tool shed or doghouse?
  %p
    Do not panic. Please give us a call and we would be there at your doorstep to help you.

%article#mosquito
  %h1  Mosquito
  %ul.list-img
    %li
      %img{:src => "./images/mosquito1.jpg"}
    %li
      %img{:src => "./images/mosquito2.jpg"}
    %li
      %img{:src => "./images/mosquito3.jpg"}
    %li
      %img{:src => "./images/mosquito4.jpg"}
    %li
      %img{:src => "./images/mosquito5.jpg"}
    %li
      %img{:src => "./images/mosquito6.jpg"}
    %li
      %img{:src => "./images/mosquito7.jpg"}
    %li
      %img{:src => "./images/mosquito8.jpg"}
  %p
    We desire that mosquito bites do not disturb our customers  and that they get a good night. Are you having a trouble in spite of all those nettings and coils? Here is something that would guarantee you a honey dipped night without the annoying mosquito song.
  %p
    Everyone knows that mosquitoes are responsible for spreading disease like Dengue, Malaria etc. It does not live long but can transmit many diseases in its short life. Babies are worst affected by mosquitoes since they develop rashes and due to low immunity, catch the above mentioned diseases faster than adults. It thus becomes even more important to ensure that not a single mosquito touches your prince or princess. 
  %p
    Mosquitoes thrive in stagnant water. Therefore, to begin with, you have to clean all the places where water might have been accumulated. If you have a certain object like an outdoor water tank or a fish tank wherein water disposal is not an option, Gambusia affins, also known as mosquito-fish can be used.
  %p
    These fish are renowned for their use in mosquito larvae hogging. Make sure though that these fish are removed after a certain period of time so that they do not harm other fishes due to their destructive nature. These fishes are available with us at a very decent price. A representative will also help you to remove them once their work is done. 
  %p
    We provide a dispenser that automatically dispenses aerosol after a certain period of time. It is an ideal instrument in kitchens and restaurants where residual sprays cannot be used. In case of outdoor mosquito infestation or infestation in public places, the residual spray can be freely used without the fear of adulteration in food material. The residual spray has a slight odour but is 100% effective for elimination of mosquitoes in no time.
  %p
    We also have mosquitoes killing racket, which when charged; kill the mosquitoes with an electrical shock wave. These rackets can be switched on and off as per requirement and extremely easy.
  %p
    Keeping in mind all your financial, hygienic and family needs in mind, we have introduced these products in market. To avail the benefits, visit our stores or simply give in a call. We are at your service day in and day out. 

%article#non-toxic-treatment
  %h1 Non Toxic Treatment
  %ul.list-img
    %li
      %img{:src => "./images/non-toxic-treatment1.jpg"}
    %li
      %img{:src => "./images/non-toxic-treatment2.jpg"}
    %li
      %img{:src => "./images/non-toxic-treatment3.jpg"}      
  %p
    We care for our customer's health therefore we also provide non toxic treatment for their benefit. We handle many pest related issues and we know, every pest doesn't need toxic substance. Many times by just giving non toxic treatment we can get rid of the pest.
  %p
    Our non toxic treatment is wonderful. With this method we can get rid of pests like Bed bugs, Fleas, Roaches, Ants, Wasp, Cockroach, Termite and many more. This treatment is ideal for commercial purpose as well like hotels, motels, companies, school dormitories, health care centre, hospitals and shelters.
  %p
    The non toxic treatment method is environment friendly and absolutely safe for your family and pets. One of the natural treatments we are offering is Cryonite. It freezes pest to death; thus eliminating them completely from your home.
  %p
    There is a variety of choice in the ways that non toxic treatment can be given to get rid of pest. Below are some natural remedies which will be beneficial for you.
  %ul.list-check
    %li 
      The initial step starts with maintaining proper sanitation. 
    %li 
      Vacuuming your house properly helps in eradicating the bugs and other pest.
    %li 
      Keeping basil plant, lavender flowers or bunch of pine keep flies and fleas away.
    %li 
      Dusting boric acid powder in your house is a natural therapy.
    %li 
      Spraying Diatomaceous on cockroach and ants kills them.
    %li
      Using Sticky trap is also a good trick to handle pests.
    %li
      Keeping your pets clean, by regular anti pest shampoo can keep fleas, chiggers, mites, lice and bugs away. 
  %p
    There are many advantages of using non toxic treatment in your home as well as at commercial places.
  %ul.list-check
    %li 
      It can be used anytime and anywhere. 
    %li 
      It keeps your family and pets healthy and free from any health risk.
    %li 
      Apartment occupant do not need to vacate their building.
    %li 
      If your business cannot be stopped then also pest treatment can be easily handled.
    %li 
      Hotels can immediately rent a room to customer after the treatment.
  %p
    Contact us immediately if you need non toxic treatment for pest control. Feel free to call us anytime.

%article#other-pest-control
  %h1 Other Pest Control
  %ul.list-img
    %li
      %img{:src => "./images/other-pest-control1.jpg"}
    %li
      %img{:src => "./images/other-pest-control2.jpg"}
    %li
      %img{:src => "./images/other-pest-control3.jpg"}
    %li
      %img{:src => "./images/other-pest-control4.jpg"}
  %p
    'Other pest control'-the link would puzzle some of you. A lot has already been written on mosquito, honeybee, spiders, rats etc. But besides all of them, there are various other pests and bugs that might trouble you. Though they are not as common as the above mentioned ones, it is necessary to be aware of them since if not treated on time, you might end up with some pretty nasty rashes.
  %h2 A list of few products that we offer for other pest control than the traditional ones is given below. 
  %ol
    %li
      %h3 Gophers:
      Noah's ark might have been built in Gopher wood but the significance of this rodent is no longer Biblical. It has made life hell for a huge mass. Gopher elimination products are one of the major selling ones from our other pest control product section. Smoke bombs consisting of sulphurous smoke are used to get rid of these rodents. It is however recommended to the customer that adequate precaution is taken while popping the smoke bombs in the Gopher hide-out. We do not want you to land up in a health trouble while getting rid of rodent trouble.
    %li
      %h3 Hornets:
      Specie from the family of eusocial wasp, this insect can lead to near death experience unless the victim is immediately given an epinephrine shot. The bite in itself is not fatal but conditions might take a deadly turn if the victim is allergic to the Hornet Venom. To prevent this, our product containing Pyrethrins can be used in vicinity.  The product is developed in such a way that it kills Hornets and wasps of over 20 types. Currently, it is largely popular in the restaurant, hotels and motels, food processing and food handling businesses. It is reasonably priced and very effect effective.
    %li
      %h3 Centipedes:
      A centipede bite is not fatal in most cases but it may result in fever, swelling, weakness and chills. Made form Deltamethrin, our products give 100% protection against these wicked pests. Equipped with a super active aerosol solvent, this product is trusted and recommended by many. It is advocated for residential as well as industrial use.
    %li
      %h3 Pantry moths and cloth moths:
      For the elimination of pantry moths and cloth moths, we have different product for different needs. An aerosol dispenser is recommended for home use while for industrial use we would suggest that you use our boric acid based spray. The spray might leave some residue but the effect is immediate and dire.
  %p
    We hope that the other pest control section was as useful as all other ones. All the above products are tested and suggested by a large group of satisfied customers. When are you joining the group?

%article#rats
  %h1  Rats
  %ul.list-img
    %li
      %img{:src => "./images/rats1.jpg"}
    %li
      %img{:src => "./images/rats2.jpg"}
    %li
      %img{:src => "./images/rats3.jpg"} 
  %p
    Rats are the most damaging and troublesome rodents found almost everywhere. They contaminate and consume foods that are left open mistakenly; they damage structures and properties. Rats also spread and transmit many diseases to other animals and humans. They reside and thrive almost everywhere and anywhere.
  %h2 How to Spot a Rat Infestation?
  %p
    As rats are active throughout the year, regular checks are highly recommended to detect their presence. Inspect your yard and home thoroughly. If the answer to any of the following questions is yes, you may have a rat problem.
  %ul.list-check
    %li 
      Do you find rat droppings around dog or cat dishes or pet food storage containers?
    %li 
      Do you hear noises coming from the attic just after dusk?
    %li 
      Do you see burrows among plants or damaged vegetables in the garden?
    %li 
      Do you see rats travelling along utility lines or on the tops of fences at dusk or soon after?
    %li 
      Do you see burrows beneath your compost pile or beneath the garbage can?
    %li
      Do you see snakes hovering around your home in search of rats?
    %li
      Do you see evidence of something digging under your garden tool shed or doghouse?
  %p
    No problems we are always there to help you. We are just a phone call or a click away. Do not waste time. Wake up before these creatures wake up and call us. Our professional would there at your place once we get a call from you requesting our services.

%article#rodents
  %h1 Rodents
  %ul.list-img
    %li
      %img{:src => "./images/rodents1.jpg"}
    %li
      %img{:src => "./images/rodents2.jpg"}
  %p
    Rodents are a major problem worldwide. Species like rats and mice spread over 35 diseases. These diseases can be spread to humans directly, through contact with these creatures's urine, faeces, saliva, and bite or simply through touch. The diseases can also be spread to humans indirectly, through ticks, mites or fleas that have fed on an infected rodent. There are nearly 3,000 species of the Rodentia family; located throughout the world. Rodents are common and formidable pests in human dwellings. They may thrive in urban as well as rural settings and are known to cause considerable damage to buildings. Control of rodent infestations is important to protect human health and to protect the infested structures from untimely damage. However, prior to undertaking any control or extermination methods, proper identification of the species is necessary. Some are more resilient than others. Some species, such as deer mice, are known to be carriers of deadly viruses and may require specific safety measures.
  %p  
    Rodents:Facts, Identification & Control
  Rats and mice are difficult to control. They present a serious menace to your home. If you're in need of control measures for these little terrorist, here's what you should know about them:
  %p
    Instincts:Rats are instinctively wary of rat control measures such as traps and bait, and colonize in attics, burrows, under concrete and porches, in wall voids and other hard-to-reach places.
  %p
    Disease:Rats can harbour and transmit a number of serious diseases. They can also introduce disease-carrying parasites such as fleas, lice and ticks into your home.
  %p
    Mice
  Instincts:They invade your home seeking food, water and warmth. Without mouse control intervention, one pair of mice may produce 200 offspring in four months.
  %p
    Disease:Each mouse can contaminate much more food than it eats. It spreads diseases related to digestive system. 
  %p
    Don't waste time if your house has been infested by these Rodents as it may be a great risk to have them in your house. It will not only put your but also your beloved pet's health at risk. We are there so don't worry, just call us and our professionals will handle this situation with ease. They make sure that you live a completely health and tension-free life thereafter. 

%article#spiders
  %h1 Spiders
  %ul.list-img
    %li
      %img{:src => "./images/spiders1.jpg"}
    %li
      %img{:src => "./images/spiders2.jpg"}
    %li
      %img{:src => "./images/spiders3.jpg"}
  %p
    Spiders are a major problem to have them in the house. All species of these arthropods are not dangerous. The one which are, bite only if in danger or accidentally touched e.g. in shoes or clothing etc. Spider-bite can cause a reaction in a person who is allergic to them. It may be as unnoticeable as a wasp sting or so severe that sometimes hospitalisation of the affected person is necessary. It might even lead to death. Some spiders are very dangerous and can leave you in extreme distress. Therefore, it is best to be cautious around them. A word to the wise; do not touch any spider matter how it is classified. We would be the best person to take care of them. We would do everything possible keep them away from your house.
  %p
    It has always been said that we should do the work that we are an expert into or you may land up in problems later. Taking care of spiders and other pests that are making life a hell for you is our work. We have experts who can take control of the situation without any problem. But before we go ahead and fight these creatures we should find the reason behind their entry into our homes.
  %ul.list-check
    %li
      %strong Excess vegetation very close to the house:
      Check for tall grasses near your house and overhanging trees as they can attract insects. So keep the premises tidy and clean them at regular intervals.
    %li
      %strong Open water near your home:
      Open water on the property provides a breeding source for many insects like mosquitoes and midges; which in turn attracts spiders. Houses built right near a lake are prime locations for their infestations.
    %li
      %strong Gaps around windows or doors and unscreened vents:
      Large gaps in siding, unsealed openings around pipe penetrations, unscreened vents and windows will allow the entry of these arachnids' in the house. 
    %li
      %strong Over use of chemical fertilisers:
      Avoid using chemical fertilizers, pesticides etc., on your property. Excess nitrogen attracts many insects, such as aphids-a spider feast.
    %li
      %strong Readily available supply of food and water:
      Spiders are opportunists and are attracted to areas where food (insects) and moisture are abundant. Eliminate insect breeding areas; reduce moisture by repair leaking pipes. And just see that it will work miracles to keep these creatures away.
  %p
    You can surely take the situation under control if we follow some of these basic checks. And if you find that the situation is beyond your control don't panic just call our 24x7 helpline and see the wonders that we perform. 

%article#squirrels
  %h1 Squirrels
  %p
    Squirrels are a major problem in many houses these days. Even though it looks cute and cuddly, it can be extremely vicious as its attacks are a common thing. They also carry fleas and other parasites which could be passed to your home. They are a part of the rodent family which is well known for their habits to chew through things. If it does get into your home it could chew through woodwork, cables, tear through loft insulation and it can even drown in water tanks which can cause further problems. Providing solution to this problem of yours is our job.
  %p
    Squirrels spend a great deal of their time to accumulate fats ahead of winter season. Imagine if you had all your winter food stored in one place. Imagine that you spent a great deal of your time protecting your territory and the food hidden on it. Ever heard of a Fort, Castle, bank Vault? Imagine that your saved stores could last for two years. That is the main reason you will find squirrels in your house.
  %p
    Environmentally, squirrel is a pest as it strips the bark off trees, causing young trees to die an early death also destroys garden plants. If not controlled on time, they can cause a lot of damage. It is said that approximately 15,000 residential fires are caused each year by rodents, such as squirrels chewing on attic wiring. This dangerous creature can cost you your home and even your life. You can thus infer how important it is to keep these rodents away from your home sweet home.
  Whenever you find these creatures in your house don't wait just check the areas near your chimneys or the places where your electric board is located.  
  There are many squirrel traps available in the market. But do they really work?' is a big question which is unanswered. If you feel that the situation is out of your control don't wait just call us; we can make these creatures vanish from your house and see to it that they do not come back for a long time.

%article#termites
  %h1 Termites
  %ul.list-img
    %li
      %img{:src => "./images/termites1.jpg"}
    %li
      %img{:src => "./images/termites2.jpg"}
  %p
    Termites are around us from the age of dinosaurs. They still manage themselves to survive against the change in climatic condition. They show surprisingly complex social behaviour. They raise their young ones as a group. Their favourite hide outs are damp places, woods and sometimes books.
  %p
    Termites eat nonstop i.e. 24x7. They eat the woods at very fast pace. The worst thing about them is you are unaware of the things that are going just below your nose. The scariest thing about their infestation is that it can take up to several years before damage is noticeable. The damage caused by mites is more than by natural calamities like fire, storm and earthquake combined. It is not at all easy to find mite damage. 
    
    They construct mud tubes to travel undetected. These tubes are composed of particles of soil, wood or debris and can vary in thickness from narrow tubes to thick as your arm.
  %h2 Don't be a victim of termites!!!
  %p With some of our tips and remedies fight them and make your home mites free.
  %ul.list-check
    %li
      As mites are attracted towards moisture, try to keep things as dry as possible inside and outside as well.
    %li
      Regular inspection in every look and corner of furniture.
    %li
      Avoid contact with soil around your home.
    %li
      Avoid planting trees very near to your house.
  %p
    Hope some of our tips and remedies will prove beneficial to you. 
  %h2 We provide services to handle the menace caused by these creatures.
  %p
    Please pick up your phone and call us now...We will take care of termites with our own ways.
  If you are in need of service feel free to call us anytime.
