- @title = "Ant pest control | How to get rid of ants | Control ants | Bed Bugs Exterminators"
%article#ants
  %h1 Ants
  %p
    Ants are a major problem in every house. They are the most difficult household pests to control. In some cases, treatment methods such as spraying ant trails simply worsen the problem. In order to combat these creatures one needs to know some methods to control them. Many articles have been published on the web and newspapers about the menace and harm caused by these pests. One of the articles said "A 16-month-old girl bitten by a horde of ants was in a critical condition".
  %ul.list-img
    %li 
      %img{:src => "/images/ants1.jpg"}
    %li 
      %img{:src => "/images/ants2.jpg"}
    %li 
      %img{:src => "/images/ants3.jpg"}
  %p
    Just imagine, if these guests intrude your house then what will you do? It is very important to stop them before they enter your living area and harm you & your families. Ants reside in soil, producing characteristic mounds while some nest in homes behind mouldings, baseboards, countertops, in decaying or moisture damaged wood. Ants feed on different types of food, including starches, meats, fats, and sweets. Some also feed on honeydew, a sweet liquid produced by aphids and scale insects. 
  %p
    To get rid of this problem you can also use some sprays that are available in the market to keep pests away. If you are allergic to these sprays then you can also use chemical powders as an alternative. Oh yes, please keep infants away from these sprays & chemicals. Use of these methods can prove handy while tackling small groups of ants. But what if an entire army of these creatures intrudes your house? Do not worry we are there. We are just a phone call or a click away. Within minutes we shall be there to help you. So, now that you are aware of this menace, come on, hurry up, we are waiting for your call. We are the best in the business. We will come and drive these creatures away from your house. 
