- @title = "Bed Bugs| Bed Bugs NYC | Bed Bugs Treatment"
%article{:id => "bed-bugs.html"}
  %h1 Bed Bugs
  %p
    Bed Bugs are copper-colored, wingless, bloodsucking insects.  They are active mostly during the night. They are scroungers; they feed on the blood of other warm blood mammals. These insects infest the bedding and furnishings of houses and even nests of animals. The body heat of humans attracts bedbugs, and they prefer dining on our blood rather than other animals. Bed Bugs pierce the skin with their proboscis and inject saliva into the skin. They utilize not more than ten minutes to feed. No sooner they are filled with blood their color changes from copper to a rusty red.
  %p
    Bed Bugs are even capable of surviving without food or water for several months altogether. See bed bugs pictures below:
  %ul.list-img
    %li
      %img{:src => "./images/bed-bug1.jpg"}/
    %li
      %img{:src => "./images/bed-bug2.jpg"}/
    %li
      %img{:src => "./images/bed-bug3.jpg"}/
  %p
    Bed bug bites appear to be tiny red bulges or welts on the skin of the host. The bulges tend to develop into rashes as the host itches away in desperation. However, these rashes can be taken care of by consulting a doctor as soon as possible.
  %figure
    %figcaption Take a look at bed bugs rash
    %img{:src => "./images/bed-bug4.jpg"}/
  %p
    Getting rid of bed bugs is yet another tough task. You can usually find these pests hiding somewhere in small gaps and cracks on the wall, in the floor etc. Bedding and mattresses are their favorite hide-outs, where they can easily get what they want (i.e. your blood). Apart from crevices, Bed Bugs prefer staying in:
  %ul.list-check
    %li Between wooden flooring
    %li Carpet spreads
    %li Edges and scars found in furniture and fixtures etc
  %p
    If prevention for bed bugs fail immediate treatment is required. My piece of advice here would be, kill bed bugs before they kill you (or they rather haunt you with bites)!!
  %p
    Bed bugs rash are sometimes mistaken to be the bite of mosquitoes, mites, spiders, ants, wasps, roaches, flies etc. Let us distinguish some: Only female mosquitoes survive on blood. Bed mites are also known as dust mites that tend to hide out in your mattress and beddings. They live on dead skin cells of humans and animals. While, fleas are wingless, dark-colored insects surviving on the blood of humans, animals and birds as well. Flea bites are swells with a red area in the center of the bite. Whereas chiggers bite is an immense torture for the victim due to the extreme itching and so on. So, don't sit back and watch them multiply in your sweet home, do something to save yourself from this TERROR!
