- @title = "Bed Bugs Rash Recognition"
%article#bed-bugs-rash
  %h1 Bed Bugs Rash
  %p
    Bed bugs rash is a horror to look at. It appears to be red in color and is extremely itchy. The rash is difficult to cure as the sensation of itch does not go away easily, and the victim scratches the bitten area making it even more swollen. These rashes are caused by bed bug bites. A bed bug attacks when the host is asleep, i.e. during the night.  The bed bug pierces its proboscis into the skin of the host and injects saliva. The pain and irritation is felt after quite some time, owing to the presence of anesthetics in bed bug's saliva. Bed bugs rash may increase on to form in-line marks of bites. This indicates that the victim has been bitten more than a single time
  %h2 Below are some bed bugs rash pictures:
  %ul.list-img
    %li
      %figure
        %figcaption Bed bug rashes on hand
      %img{:src => "/images/bed-bugs-rash1.jpg"}/
    %li
      %figure
        %figcaption Bed bug rashes on face
      %img{:src => "/images/bed-bugs-rash2.jpg"}/
  %p
    You should go through the various bed bugs symptoms in order to determine if your house is on the verge of a bed bug infestation
  %ul
    %li A house infested with bedbugs develops a damp, sweet smell which is released by scent glands of the bedbugs
    %li Another forte symptom is the stains caused by bed bugs excrement, blood, egg shells, skin sheds and dead bugs. These stains are clearly visible on mattress and beddings. These are dark in color mainly brown or black
    %li If you find red itchy welts on your torso, legs and back after waking up from your sleep, then put on your thinking cap and search for ways to eliminate bed bugs
  %p
    Do not confuse yourself between bed bug bites and skin rash. A rash is the changing of skin's texture, color or appearance. Bed bug bites can easily be distinguished from skin rashes if you have some knowledge about the former and latter. A bedbug bite is limited to a certain area where the bug has bitten. A skin rash maybe situated in one area or may even spread to other skin areas. Similarly, a heat rash occurs in hot, humid weather due to excessive sweating. It is most common among young children. Heat rash looks like a group of red blisters or pimples. Skin rashes sometimes seem to resemble hives. Urticaria or hives is either the cause of adverse body reactions to some allergies or for unfamiliar reasons. It looks like reddish pale bumps on skin.
  %p Anyways, don't freak out on the question of how to get rid of bed bugs. Going through the nuisance caused by bed bugs, it is personally recommended by me to kill bed bugs and be at peace.
