%article#landing
  %h1 Bed Bugs
  %p
    Bed Bugs are copper-colored, wingless, bloodsucking insects.  They are active mostly during the night. They are scroungers; they feed on the blood of other warm blood mammals. These insects infest the bedding and furnishings of houses and even nests of animals. The body heat of humans attracts bedbugs, and they prefer dining on our blood rather than other animals. Bed Bugs pierce the skin with their proboscis and inject saliva into the skin. They utilize not more than ten minutes to feed. No sooner they are filled with blood their color changes from copper to a rusty red.
  %p
    Bed Bugs are even capable of surviving without food or water for several months altogether. See bed bugs pictures below:
  %ul.list-img
    %li
      %img{:src => "./images/bed-bug1.jpg"}
    %li
      %img{:src => "./images/bed-bug2.jpg"}
    %li
      %img{:src => "./images/bed-bug3.jpg"}
  %p
    Bed bug bites appear to be tiny red bulges or welts on the skin of the host. The bulges tend to develop into rashes as the host itches away in desperation. However, these rashes can be taken care of by consulting a doctor as soon as possible.
  %figure
    %figcaption Take a look at bed bugs rash
    %img{:src => "./images/bed-bug4.jpg"}
  %p
    Getting rid of bed bugs is yet another tough task. You can usually find these pests hiding somewhere in small gaps and cracks on the wall, in the floor etc. Bedding and mattresses are their favorite hide-outs, where they can easily get what they want (i.e. your blood). Apart from crevices, Bed Bugs prefer staying in:
  %ul
    %li Between wooden flooring
    %li Carpet spreads
    %li Edges and scars found in furniture and fixtures etc
  %p
    If prevention for bed bugs fail immediate treatment is required. My piece of advice here would be, kill bed bugs before they kill you (or they rather haunt you with bites)!!
  %p
    Bed bugs rash are sometimes mistaken to be the bite of mosquitoes, mites, spiders, ants, wasps, roaches, flies etc. Let us distinguish some: Only female mosquitoes survive on blood. Bed mites are also known as dust mites that tend to hide out in your mattress and beddings. They live on dead skin cells of humans and animals. While, fleas are wingless, dark-colored insects surviving on the blood of humans, animals and birds as well. Flea bites are swells with a red area in the center of the bite. Whereas chiggers bite is an immense torture for the victim due to the extreme itching and so on. So, don't sit back and watch them multiply in your sweet home, do something to save yourself from this TERROR!

%article#bed-bugs-pictures
  %h1 Bed Bugs Pictures
  %p
    Bed bugs pictures are a nightmare, to watch. Believe me; these parasites have created a huge mess in the life of a human. How bed bugs look like, depends on which stage of their life cycle they are in.Have a brief view of their life stages,Here's how an adult bed bug looks like.
  %figure
    %figcaption Have a brief view of their life stages
    %img{:src => "./images/bed-bugs-pictures1.jpg"}
  %figure
    %figcaption Here's how an adult bed bug looks like:
    %img{:src => "./images/bed-bugs-pictures2.jpg"}
  %p
    Now let us go through the various bed bugs signs. It is pretty difficult to determine whether you've got bed bugs crawling up your house at night. They're tiny, hideous and nocturnal; that makes our search a bit complicated. Yet there are some prominent signs that these pests leave out.
  %ul.list-img
    %li
      %img{:src => "./images/bed-bugs-pictures3.jpg"}
    %li
      %img{:src => "./images/bed-bugs-pictures4.jpg"}
    %li
      %img{:src => "./images/bed-bugs-pictures5.jpg"}
    %li
      %img{:src => "./images/bed-bugs-pictures6.jpg"}
  %ul
    %li
      %h2 Waste  
      %p
        Bed bugs move around your place as if it were theirs! Their waste consists of dark spots which is left on your bedding, mattress, spreads etc. These spots maybe of feces, blood, skin sheds, eggs, dead bed bugs etc. See it for yourself.
    %li
      %h2 Bed bug bites
      %p
        Little red rashes form on your skin, it’s so itchy, and you don’t know what happened! That’s got to be a bed bug. While people are asleep, bed bugs become active and bite. One cannot feel the sting for some time. Later on, it starts itching and becomes swollen. It is a major one among the bed bugs symptoms. Catch a glimpse of how devastating these pests can be. Bed bug bites.
    %li
      %h2 Hideouts  
      %p
        All cracks, crevices and gaps on walls, flooring, and furniture act as perfect hiding places for bed bugs. Your mattress, bedding, curtains are some of its favorite spots. Immediate bed bugs treatment is required when you find them moving around. We hope you're not sleeping with the bed bugs tonight.
  %p
    Bed bugs extermination is not impossible. In order to aid the professional exterminators, you need to keep these things in handy- Vacuum, dryer, garbage bags, detergent, washing machine, zipper bags for mattress and steam cleaner. Even bed bugs spray may be brought into use.
  %ul.list-img
    %li
      %img{:src => "./images/bed-bugs-pictures7.jpg"}
    %li
      %img{:src => "./images/bed-bugs-pictures8.jpg"}
    %li
      %img{:src => "./images/bed-bugs-pictures9.jpg"}
  %h2 Do not confuse bed bug bites with scabies, ticks, chiggers or fleas etc
  %ul.list-img
    %li
      %figure
        %figcaption Scabies mite pictures
        %img{:src => "./images/bed-bugs-pictures10.jpg"}
    %li
      %figure
        %figcaption Fleas pictures
        %img{:src => "./images/bed-bugs-pictures11.jpg"}
    %li
      %figure
        %figcaption Chiggers pictures
        %img{:src => "./images/bed-bugs-pictures12.jpg"}
    %li
      %figure
        %figcaption Ticks pictures
        %img{:src => "./images/bed-bugs-pictures13.jpg"}

%article#bed-bugs-rash
  %h1 Bed Bugs Rash
  %p
    Bed bugs rash is a horror to look at. It appears to be red in color and is extremely itchy. The rash is difficult to cure as the sensation of itch does not go away easily, and the victim scratches the bitten area making it even more swollen. These rashes are caused by bed bug bites. A bed bug attacks when the host is asleep, i.e. during the night.  The bed bug pierces its proboscis into the skin of the host and injects saliva. The pain and irritation is felt after quite some time, owing to the presence of anesthetics in bed bug's saliva. Bed bugs rash may increase on to form in-line marks of bites. This indicates that the victim has been bitten more than a single time
  %h2 Below are some bed bugs rash pictures:
  %ul.list-img
    %li
      %figure
        %figcaption Bed bug rashes on hand
        %img{:src => "./images/bed-bugs-rash1.jpg"}
    %li
      %figure
        %figcaption Bed bug rashes on face
        %img{:src => "./images/bed-bugs-rash2.jpg"}
  %p
    You should go through the various bed bugs symptoms in order to determine if your house is on the verge of a bed bug infestation
  %ul
    %li A house infested with bedbugs develops a damp, sweet smell which is released by scent glands of the bedbugs
    %li Another forte symptom is the stains caused by bed bugs excrement, blood, egg shells, skin sheds and dead bugs. These stains are clearly visible on mattress and beddings. These are dark in color mainly brown or black
    %li If you find red itchy welts on your torso, legs and back after waking up from your sleep, then put on your thinking cap and search for ways to eliminate bed bugs
  %p
    Do not confuse yourself between bed bug bites and skin rash. A rash is the changing of skin's texture, color or appearance. Bed bug bites can easily be distinguished from skin rashes if you have some knowledge about the former and latter. A bedbug bite is limited to a certain area where the bug has bitten. A skin rash maybe situated in one area or may even spread to other skin areas. Similarly, a heat rash occurs in hot, humid weather due to excessive sweating. It is most common among young children. Heat rash looks like a group of red blisters or pimples. Skin rashes sometimes seem to resemble hives. Urticaria or hives is either the cause of adverse body reactions to some allergies or for unfamiliar reasons. It looks like reddish pale bumps on skin.
  %p Anyways, don't freak out on the question of how to get rid of bed bugs. Going through the nuisance caused by bed bugs, it is personally recommended by me to kill bed bugs and be at peace.

%article#bed-bugs-treatment
  %h1 Bed Bugs Treatment
  %img.independent{:src => "./images/bed-bugs-treatment1.jpg"}
  %p
    To tell the truth, bed bugs treatment is not everyone's cup of tea! It may sound rude, but yes, the procedure involved in the identification, detection and extermination of bed bugs is really tricky. Do not panic whenever surrounded by this question- "how to get rid of bed bugs?". The answer to this is far from being simple.
  %p
    Bed bugs are small rust-colored parasites that survive on the blood of mammals, preferably humans. Human body heat attracts them the most. They come out to feed only during the night. An adult bedbug utilizes not more than ten minutes to suck in blood. Its size resembles that of a lady beetle.
  %p
    Bed bugs rash is formed by bed bug bites. These bed bug bites look like tiny red welts, on the skin of the victim, having a severe itching sensation. Such rashes must not be confused with mosquito bites, scabies, spider bite etc. Bed bugs rash usually fade away on their own once the cause is diminished. It is recommended that you leave the rash to heal by itself. However, certain coolant lotions can be brought into use as a bed bugs rash treatment.
  %ul.list-img
    %li
      %figure
        %figcaption Bed bugs pictures
        %img{:src => "./images/bed-bugs-treatment2.jpg"}
    %li
      %figure
        %figcaption Bed bugs rash treatment, the natural way
        %img{:src => "./images/bed-bugs-treatment3.jpg"}
  %p
    It is challenging yet possible to detect bed bugs infestation. You just have to be aware of the various bed bugs signs. Consider the following:
  %ul
    %li Dark colored stains on your bedding, curtains, mattress etc. This consists of their feces, blood, egg shells, dead bugs etc.
    %li A sweet damp scent in the house which is released by bed bugs scent glands.
    %li Formation of red itchy bulges on your legs, back and torso (the outcome of bed bug bites).
  %p
    Now, let's focus on the question of how to kill bed bugs. The ultimate bed bugs killer is a professional exterminator. Exterminators turn your house upside down in order to find and kill all the bed bugs present. Spending lavishly on bed bugs spray does not seem as a very good idea to me. Power sprays are effective to some extent, but not wholly.

%article#bed-mites
  %h1 Bed Mites
  %p
    Bed mites just looks like the scary monsters that managed to escape from a sci-fi movie. Have look at the bed mites pictures below. Horrifying, aren't they?
  %ul.list-img
    %li
      %img{:src => "./images/bed-mites1.jpg"}
    %li
      %img{:src => "./images/bed-mites2.jpg"}
    %li
      %img{:src => "./images/bed-mites3.jpg"}
  %p
    However, while talking about the term 'bed mites' people refer to bed bugs as well as Dust mites. Both of them are a nuisance to people. These unwelcome guests are the cause of many health problems. And guess what, their favorite hideout is our bed! While bed bugs are small nocturnal parasites that survive on blood of other mammals, whereas bed mites are microscopic organisms that feed on the skin flakes, hair and oil secreted by our bodies. Commonly found in beddings, they also make their homes in carpeting, curtain seams and other upholstery. Due to the cohabitation of dust mites, many people develop allergies causing breathing problems, itching, hives, running nose, rashes etc.
  %p
    How to get rid of bed mites? It does not matter which bed mite you have to deal with because both of them are extremely frustrating. Bed bugs can be removed with the help of pest control professionals. Bed mites are comparably easier to terminate. First of all, you need to clean up your home like crazy and try to pay more attention to evaluating dust collectors. Dust collectors are basically the items on which dust can easily settle on, for example- stuffed toys, books, antiques etc. A dust mite affected mattress should be zipped up, washed or replaced with a good dust mite mattress made of latex. Air cleaners prove to be of great use in such a case. Power sprays available in markets are also quite effective. Yet, cleaning, cleaning and cleaning will reduce your problem.
  %h2 You should be aware of some similar organisms that tend to terrorize lives around the globe.
  %ul
    %li Scabies: It is a contagious skin infection caused by itch mites. The scabies’ mite burrows into the skin of the victim resulting in intense itching.
    %li Chiggers: Only juvenile chiggers bite humans at soft areas on the skin. Adult chiggers are harmless. A chigger larva feeds on skin cells of animals including humans. The most severe itching is due to a chigger's bite.
    %li Bird mites: They are flat, translucent parasites which dine on the blood of birds. However, they do not hesitate to have human blood, but for reproduction purposes, bird mites are dependent upon birds.
    %li Fleas: They are wingless bloodsucking insects who live on the blood of many species of mammals. Bed fleas bite can lead to FAD, irritation in skin, tapeworms etc.
    %li Lice: These scroungers prefer to stay as close to human body as possible. Lice infestation among humans is very common.
  %p
    Keep your house clean and be at peace from at least some of the above nasty little brats.

%article#chiggers
  %h1 Chiggers
  %p
    Chiggers are the larvae of scrub mites or harvest mites. Like other mites, a chigger also goes through a three-stage biological life. Eggs hatch to form larvae, larvae develop into nymphs and then to adults. Nymphs and adult scrub mites are vegetarian, they feed on plants. However, chiggers larvae are parasitic, they feed on human and animal skin cell fluids, and not blood. If not interrupted, chiggers bugs can feed on the skin cell for several days.
  %ul.list-img
    %li
      %img{:src => "./images/chiggers1.jpg"}
    %li
      %img{:src => "./images/chiggers2.jpg"}
  %p
    Chiggers location: Naturally red in color, they are found around the globe. Their most common habitats are forests, grassy pastures, gardens, moist areas near ponds, lakes etc. Chiggers bugs need high humidity levels for survival; hence they reside on plants nearer to the ground surface. Take for example, tall grass, weeds etc.
  %p
    Chiggers symptoms: A chigger is not an insect; rather it is a member of the Trombiculidae Mites family, like spiders and ticks. When bitten by a chigger intense itching is experienced (along with red bumps having a darker centre) within a few hours. As time passes, these swells turn into bigger welts or hives etc. Reacting to the saliva injected by the chigger, there is a lot more itching experienced on the skin. Chigger sticks to the hair follicles on the skin for several days, and it falls off when full. Yet, it leaves behind the stylostome or feeding tube which causes continuous irritation.
  %p
    Most people, when disturbed for a number of days by the itching and swelling, take it to be scabies or bed bug bites. It must be noticed that in case of scabies, pale red skin patches form with itch mites burrowed under the victim’s skin. As far as bed bugs are concerned, red itchy bulges emerge, but fade away in 2-3 days.
  %figure
    %figcaption Chiggers bites
    %img{:src => "./images/chiggers2.jpg"}
  %p
    Once the victim finds out that he is being sucked in by chiggers, he is shocked. Then most panic-stricken question is, Chiggers how to treat? Remove the cell-sucker right away! That is the best possible chiggers treatment. You can remove the chigger by lightly rubbing your skin with a towel. The itching, hives and skin rashes can be taken care of by the general procedures for such treatments.
  %p
    Pull out the nasty chiggers before it moves on to destroy more and more skin cells of your body. Believe me; the pain will get worse with each passing day! Save your skin fluids.

%article#fleas
  %h1 Fleas
  %p
    Fleas are fully capable to spread an epidemic around the globe! The whole world stands witness to this statement, as these insects (now, in the league of pests) have already given us enough evidence. These pests are bloodsucking parasites belonging to the class of Siphonaptera. The color of a flea can be anywhere between reddish-brown to black. Adult fleas have strong hind legs which help them to jump easily through feathers and hairs. Entomologists have discovered the existence of more than 2,000 species of fleas; the common ones being Cat flea, Dog flea and Human flea.
  %img.independent{:src => "./images/fleas1.jpg"}
  %ol
    %li 
      %strong Fleas on humans-
      Evolution among the flea species has caused the human flea (Pulex irritans) to specialize on different animals as well. Found widely in pigsties, human fleas can jump onto other animals and humans when nearby. Now, a human flea infestation is rare.
    %li 
      %strong Fleas on cats-
      The cat flea (Ctenocephalides felis) is most widespread flea species on earth. Fleas attacking cats attack dogs as well. Flea Allergy Dermatitis (FAD) is usually caused by flea feeding.
    %li
      %strong Fleas on dogs-
      Dog flea (Ctenocephalides canis) dwells on the blood of cats and dogs, preferably dogs. Yet they also tend to bite humans. It is quite troublesome for the domestic pets as they may develop several allergies to its saliva. Check out some pictures of fleas.
  %ul.list-img
    %li
      %img{:src => "./images/fleas1.jpg"}
    %li
      %img{:src => "./images/fleas2.jpg"}
    %li
      %img{:src => "./images/fleas3.jpg"}
  %p
    Getting rid of fleas can be a very challenging task because of their reproduction rate. Microscopy and taxonomic keys help to identify fleas' existence. With the rise in usage of carpeting, number of pets and central heating, flea control is becoming a bigger problem for professional pest controllers. Insect Growth Regulators (IGRs), frequent vacuuming (of floors, carpets), bathing pets regularly and washing their bedding with insecticidal preparation are perfect for killing fleas plus their eggs, nymphs etc.
  %p
    Fleas had caused the Bubonic Plague in 14th century which had resulted in the deaths of millions of people worldwide. Do not let them take control again.

%article#getting-rid-of-bed-bugs
  %h1 Getting Rid Of Bed Bugs
  %p
    Getting rid of bed bugs might seem to be very difficult to commoners. Yet, the exterminators know it all. Let me share some information about these nasty bloodsuckers. Adult bed bugs appear to be brown to copper in color. They are wingless and nocturnal scroungers. Human blood is what a bed bug prefers to have. Swollen red blemishes develop wherever the bedbug feeds on the skin. If their population is not checked at the earliest, bedbugs multiply with tremendous speed.
  %ul.list-img
    %li 
      %img{:src => "./images/getting-rid-of-bed-bugs1.jpg"}
    %li
      %img{:src => "./images/getting-rid-of-bed-bugs2.jpg"}
  %p
    Killing bed bugs is the need for the day. There are many procedures that can be brought into consideration. The method for bed bugs treatment for getting rid of bed bugs which is commonly used by Pest control companies is a combo of insecticide with steam treatment. This concentrate is widely used to control the rise in number of insects like lice and bed bugs etc. To be precise, this solution is a sort of bed bug killer! Yet, spending highly on a bed bug spray is not the most accurate solution to this problem. Sprays like Aerosol insecticides can even be hazardous.
  %p
    The fastest and quite expensive method to get rid of bedbugs is hiring the services of Bed bug Exterminators. It is advised that you seek the services of a professional exterminator. However, getting rid of bed bugs naturally is the call of the day.
  Keeping it quite natural, vacuuming your house right from carpeting, flooring and crevices to bedspreads, mattresses, curtains etc might be of great utility in removing bed bugs eggs. Steam cleaning, use of diatomaceous soil, sprinkling of Black Walnut dust are some of the remedies. Sealing your mattress and beddings with zipped hypoallergenic covers is recommended.
  %p
    You know what, getting rid of dust mites (aka house dust mites) is also challenging. You can check on mites by keeping your bedding, carpet, household clean. Try to replace your old mattress with Latex mattresses, they're dust mite proof. Regulating temperature and keeping it cold, is another option.
  %p
    Fleas, mosquitoes, spiders etc can be eliminated using much simpler measures. For example: In order to get rid of mosquitoes reduce water accumulation, apply mosquito repellants, use power sprays etc. For getting rid of fleas use Insect Growth Regulators, bathe your pets as often as you can, clean, clean and clean your home. All I can say is that getting rid of bed bugs infestation has stirred panic in the lives of people, get rid of them and the other pests as soon as possible.

%article#kill-bed-bugs
  %h1 Kill Bed Bugs
  %p
    It is difficult to kill bed bugs all by yourself. They are chaotic, filthy and the size of a rice grain! We recommend that apart from trying the methods to kill bed bugs naturally, you should seriously think of hiring professional exterminators.
  %img.independent{:src => "./images/kill-bed-bugs1.jpg"}
  %p
    Recently, bed bugs have created numerous problems not just for New Yorkers, but they've also terrorized the neighboring areas. Bed bugs are nocturnal parasites that appear to be reddish-brown in color. A bed bug's size resembles that of a rice grain. It feeds on the blood of mammals, usually humans. Bed bug bites develop into red itchy swells on that particular area. The reproduction rate of bed bugs is very high. Hence, if left unchecked, its population may increase with a shocking rate of 100% within some days!
  %p
    Nowadays, there are many products available in the market to kill bed bugs completely. Let us check out some of the options at hand:
  %ul
    %li Kill bed bugs spray: A variety of bed bugs spray has been launched keeping in mind the present plagiarized scenario. A general purpose spray can be used to cut back their population.
    %li Bed bug dust: Dust used in the elimination of bed bugs might prove to be really useful as they can be sprinkled over cracks, seams and crevices with the help of crusader dusters.
    %li Pest control: A professional exterminator is the actual bed bug killer or the lifesaver. Exterminators do charge a good amount of money as their service fee, yet their works are worth that expense
  %p
    Phew! Dealing with bed bugs is a complicated and a tough job. Whereas, terminating other insects, mites etc. is comparably less annoying. Say for example Chiggers. It is suicidal if you wear short clothing in areas infested by chiggers. Mosquito repellants can keep the chiggers at bay for some hours. Warm soap water is enough to kill chiggers. Bed mites or dust mites feed on dead flesh i.e. skin flakes of humans. In order to kill bed mites, you should freeze the affected stuff or heat the stuff above 130 degrees Fahrenheit. Body lice also cannot survive excessive heating or freezing. Permethrin insecticide can kill body lice, but it should be used as a last resort. Fleas are insects that survive on the blood of mammals, usually feeding on your pet dog! Fleas are of different types. But that's another story. Adulticides can kill fleas belonging to the adult stage. IGRs, carpet aerosols, flea collars, flea powders are some of the remedies available.
  %p
    It is necessary that we eliminate this threat at the earliest possible time, before it breaks into a worldwide epidemic.
  %img.independent{:src => "./images/kill-bed-bugs2.jpg"}
