- @title = "Bed Mites pest control | How to get rid of Bed Mites | Control Bed Mites | Bed Bugs Exterminators"
%article#bed-mites
  %h1 Bed Mites
  %p
    Bed mites just looks like the scary monsters that managed to escape from a sci-fi movie. Have look at the bed mites pictures below. Horrifying, aren't they?
  %ul.list-img
    %li
      %img{:src => "/images/bed-mites1.jpg"}/
    %li
      %img{:src => "/images/bed-mites2.jpg"}/
    %li
      %img{:src => "/images/bed-mites3.jpg"}/
  %p
    However, while talking about the term 'bed mites' people refer to bed bugs as well as Dust mites. Both of them are a nuisance to people. These unwelcome guests are the cause of many health problems. And guess what, their favorite hideout is our bed! While bed bugs are small nocturnal parasites that survive on blood of other mammals, whereas bed mites are microscopic organisms that feed on the skin flakes, hair and oil secreted by our bodies. Commonly found in beddings, they also make their homes in carpeting, curtain seams and other upholstery. Due to the cohabitation of dust mites, many people develop allergies causing breathing problems, itching, hives, running nose, rashes etc.
  %p
    How to get rid of bed mites? It does not matter which bed mite you have to deal with because both of them are extremely frustrating. Bed bugs can be removed with the help of pest control professionals. Bed mites are comparably easier to terminate. First of all, you need to clean up your home like crazy and try to pay more attention to evaluating dust collectors. Dust collectors are basically the items on which dust can easily settle on, for example- stuffed toys, books, antiques etc. A dust mite affected mattress should be zipped up, washed or replaced with a good dust mite mattress made of latex. Air cleaners prove to be of great use in such a case. Power sprays available in markets are also quite effective. Yet, cleaning, cleaning and cleaning will reduce your problem.
  %h2 You should be aware of some similar organisms that tend to terrorize lives around the globe.
  %ul.list-check
    %li
      %h3 Scabies:
      It is a contagious skin infection caused by itch mites. The scabies’ mite burrows into the skin of the victim resulting in intense itching.
    %li
      %h3 Chiggers:
      Only juvenile chiggers bite humans at soft areas on the skin. Adult chiggers are harmless. A chigger larva feeds on skin cells of animals including humans. The most severe itching is due to a chigger's bite.
    %li
      %h3 Bird mites:
      They are flat, translucent parasites which dine on the blood of birds. However, they do not hesitate to have human blood, but for reproduction purposes, bird mites are dependent upon birds.
    %li
      %h3 Fleas:
      They are wingless bloodsucking insects who live on the blood of many species of mammals. Bed fleas bite can lead to FAD, irritation in skin, tapeworms etc.
    %li
      %h3 Lice:
      These scroungers prefer to stay as close to human body as possible. Lice infestation among humans is very common.
  %p
    Keep your house clean and be at peace from at least some of the above nasty little brats.
