%h1 BED BUGS PICTURES
%p
  Bed bugs pictures are a nightmare, to watch. Believe me; these parasites have created a huge mess in the life of a human. How bed bugs look like, depends on which stage of their life cycle they are in.Have a brief view of their life stages,Here’s how an adult bed bug looks like
%figure
  %figcaption Have a brief view of their life stages
  %img{:src => "./images/bed-bugs-pictures1.jpg"}
%figure
  %figcaption Here’s how an adult bed bug looks like:
  %img{:src => "./images/bed-bugs-pictures2.jpg"}
%p
  Now let us go through the various bed bugs signs. It is pretty difficult to determine whether you’ve got bed bugs crawling up your house at night. They’re tiny, hideous and nocturnal; that makes our search a bit complicated. Yet there are some prominent signs that these pests leave out.
%ul.list-img
  %li
    %img{:src => "./images/bed-bugs-pictures3.jpg"}
  %li
    %img{:src => "./images/bed-bugs-pictures4.jpg"}
  %li
    %img{:src => "./images/bed-bugs-pictures5.jpg"}
  %li
    %img{:src => "./images/bed-bugs-pictures6.jpg"}
%ul
  %li
    %h2 Waste  
    %p
      Bed bugs move around your place as if it were theirs! Their waste consists of dark spots which is left on your bedding, mattress, spreads etc. These spots maybe of feces, blood, skin sheds, eggs, dead bed bugs etc. See it for yourself
  %li
    %h2 Bed bug bites
    %p
      Little red rashes form on your skin, it’s so itchy, and you don’t know what happened! That’s got to be a bed bug. While people are asleep, bed bugs become active and bite. One cannot feel the sting for some time. Later on, it starts itching and becomes swollen. It is a major one among the bed bugs symptoms. Catch a glimpse of how devastating these pests can be. Bed bug bites
  %li
    %h2 Hideouts  
    %p
      All cracks, crevices and gaps on walls, flooring, and furniture act as perfect hiding places for bed bugs. Your mattress, bedding, curtains are some of its favorite spots. Immediate bed bugs treatment is required when you find them moving around. We hope you’re not sleeping with the bed bugs tonight
%p
  Bed bugs extermination is not impossible. In order to aid the professional exterminators, you need to keep these things in handy- Vacuum, dryer, garbage bags, detergent, washing machine, zipper bags for mattress and steam cleaner. Even bed bugs spray may be brought into use.
%ul.list-img
  %li
    %img{:src => "./images/bed-bugs-pictures7.jpg"}
  %li
    %img{:src => "./images/bed-bugs-pictures8.jpg"}
  %li
    %img{:src => "./images/bed-bugs-pictures9.jpg"}
%h2 Do not confuse bed bug bites with scabies, ticks, chiggers or fleas etc
%ul.list-img
  %li
    %figure
      %figcaption Scabies mite pictures
      %img{:src => "./images/bed-bugs-pictures10.jpg"}
  %li
    %figure
      
      %img{:src => "./images/bed-bugs-pictures11.jpg"}
  %li
    %figure
      %figcaption Chiggers pictures
      %img{:src => "./images/bed-bugs-pictures12.jpg"}
  %li
    %figure
      %figcaption Ticks pictures
      %img{:src => "./images/bed-bugs-pictures13.jpg"}
