- @title = "Bed Bug Dog |Bed Bug Dog NYC |Dog against the Bed Bugs| Bed Bug Sniffer Dog"
%article{:id => "bed-bug-dog.html"}
  %h1 Bed Bug Dog
  %img.independent{:src => "/images/bed-bug-dog1.jpg"}/
  %p
    Bed Bug Dog sounds strange to many people. A dog has been man's best friend for ages. Dogs have been used for years by military and law enforcement agencies to detect bombs, drugs and other things. You might have heard of bomb dogs, drug dogs, and arson dogs. But now the man's best friend has launched an attack against bed bugs and is the new weapon in mans fight against these bugs. A Bed Bug Dog is trained to detect the location of bed bugs in infested areas. Dogs can be handy for detecting or sniffing objects wherein they use their senses (usually nose) to locate the object for which they have been trained. These adorable but accurate doggies know their work very well.
  %p
    Traditional bedbug detection methods can be very time consuming and labour intensive. Certified Bed Bug Dog generates quicker and more accurate results in finding the bugs e.g. an average hotel room can be searched in less than two minutes by these dogs. A Bed Bug Dog has proved to be of enormous help to keep the tricky pests at bay and have a high pest detection accuracy level of 90-95%. They simply require a few minutes before they bark to a conclusion!
  %ul.list-img
    %li
      %img{:src => "/images/bed-bug-dog1.jpg"}/
    %li
      %img{:src => "/images/bed-bug-dog2.jpg"}/
    %li
      %img{:src => "/images/bed-bug-dog3.jpg"}/
  %p
    A trained professional inspector can only detect visible signs of bed bugs in a room. To find activity inside walls, baseboards, even under carpets, a room would have to otherwise be stripped down beyond the bare walls! A dog's keen sense of smell can detect bed bugs even inside walls. We as a pest control company have these professionally trained dogs in our team to fight the war against these pests.
  %p
    We provide the expertise in handling any residential and commercial establishments with regards to this bed bug problem. What are you waiting for? Pick-up the phone and you will find us at your doorsteps.
