%article#landing
  %h1 Bed Bug Dog
  %img.independent{:src => "./images/bed-bug-dog1.jpg"}
  %p
    Bed Bug Dog sounds strange to many people. A dog has been man's best friend for ages. Dogs have been used for years by military and law enforcement agencies to detect bombs, drugs and other things. You might have heard of bomb dogs, drug dogs, and arson dogs. But now the man's best friend has launched an attack against bed bugs and is the new weapon in mans fight against these bugs. A Bed Bug Dog is trained to detect the location of bed bugs in infested areas. Dogs can be handy for detecting or sniffing objects wherein they use their senses (usually nose) to locate the object for which they have been trained. These adorable but accurate doggies know their work very well.
  %p
    Traditional bedbug detection methods can be very time consuming and labour intensive. Certified Bed Bug Dog generates quicker and more accurate results in finding the bugs e.g. an average hotel room can be searched in less than two minutes by these dogs. A Bed Bug Dog has proved to be of enormous help to keep the tricky pests at bay and have a high pest detection accuracy level of 90-95%. They simply require a few minutes before they bark to a conclusion!
  %ul.list-img
    %li
      %img{:src => "./images/bed-bug-dog1.jpg"}
    %li
      %img{:src => "./images/bed-bug-dog2.jpg"}
    %li
      %img{:src => "./images/bed-bug-dog3.jpg"}
  %p
    A trained professional inspector can only detect visible signs of bed bugs in a room. To find activity inside walls, baseboards, even under carpets, a room would have to otherwise be stripped down beyond the bare walls! A dog's keen sense of smell can detect bed bugs even inside walls. We as a pest control company have these professionally trained dogs in our team to fight the war against these pests.
  %p
    We provide the expertise in handling any residential and commercial establishments with regards to this bed bug problem. What are you waiting for? Pick-up the phone and you will find us at your doorsteps.

%article#bugs-dog
  %h1 Bugs Dog
  %p
    Considering the 'n' number of bugs dog can be attacked by, it is utterly necessary that you keep your pet's coat clean and tidy. Remember that bugs found on dogs such as fleas, ticks and mites etc are on a constant lookout for a hideout as well as food. In such a situation, your dog's hair would prove to be a great place. Take a quick view of some pretty small bugs dog is vulnerable to:
  %img.independent{:src => "./images/bugs-dog1.jpg"}
  %p
    The hair of a dog's coat is warm and it clouds the existence of bugs on his body. Threat of some kind or the other is placed by every bug dog breed is then ultimately challenged by them. Bugs like- ticks, fleas, mosquitoes, lice, mange, scabies mites, ear mites, walking dandruff, bed bugs, chiggers etc bring along with them varied threats.
  %img.independent{:src => "./images/bugs-dog2.jpg"}
  %p
    Ranging from general outcomes say, itchiness, red welts, rashes, hair loss etc, the infections can become severe and life-taking also. Take the example of Lyme disease, tapeworms, tick paralysis, anaemia, muscle cramps, tissue breakdown etc. Owing to the appearance of bugs puppy may have to face such diverse effects. Dog owners should not leave any stone unturned in the procedure of bugs prevention. It is true that managing a dog's hair is quite troublesome and it is rather more difficult to keep a track of wherever the dog goes. Prepare him like the ever-ready Bugs Bunny. Give him the proper grooming and bestow upon him the confidence to dodge bugs. Then only can he be called a Bugs Bunny Dog.
  %p
    Entomology study of bugs: It is a branch of arthropodology. Insects account for 2/3rds of all living organisms. Thanks to entomology and its progressing research, insect identification is easily possible and is also developing into a hobby.
  %p
    Occurence of certain bugs cat, horse, dog is host specific
  %ul.list-img
    %li
      %img.independent{:src => "./images/bugs-dog3.jpg"}

    %li
      %img.independent{:src => "./images/bugs-dog4.jpg"}

%article#bed-bug-cat
  %h1 Bed Bug Cat
  %p
    In order to kill a Bed Bug Cat litter can prove to be very effective Silica gel found in cat litter is powdered and then spread in the bed bug affected areas. This powder will stick to the bed bugs and dehydrate them, bringing their life to an end. But do not stay under the impression that your cat is safe from bed bugs. Bed bugs may still bite that pretty, fluffy pet of yours.
  %ul.list-img
    %li
      %img{:src => "./images/bed-bug-cat1.jpg"}
    %li
      %img{:src => "./images/bed-bug-cat2.jpg"}
  %p
    When bitten by Bed Bug Cat may also develop similar kind of red welts and rashes from itching like humans. Moreover, cats have sharp claws, and when they use it for itching, imagine what trouble they'll get in. Same is the case with a dog affected by bed bugs. Although specially trained dogs have the ability to detect bed bugs, yet they too are prone to bed bugs bites. So, the point is when attacked by Bed Bug Cat or human, is going to fall prey. Some other insects that tend to attack these sweet kittens are discussed below.
  %p
    Spider bites are somewhat rare in cats. Some cats play with spiders, hunt for them and even eat them. As cat's skin is thicker than others, there are three types of spiders that can cause serious damage to it- Black widow, brown spiders and Hobo spider. When bitten by any of the above spider cat can get muscle crumpling, tissue breakdown etc. Immediate medical attention is required; otherwise the cat may die within 4-5 days.
  %img.independent{:src => "./images/bed-bug-cat3.jpg"}
  %p
    Scabies is a highly contagious skin disease that is caused due to the burrowing of itch mites into the skin. If suffering from scabies cat may develop health issues like itching, hair loss and crusts. Cat scabies is also known as feline mange. This can spread over the whole body of the cat and aggressive care is suggested.
  %p
    Lice cat is the term I am using for this host specific louse named Felicola Subrostrata. It is a chewing louse and only infests cats. Aged, hairy and low immunity cats are more vulnerable to this type of lice. Here, cats experience restlessness, scruffy coat, itching, loss of hair and anaemia.
  %p
    If attacked by mites cat contracts a skin disorder called cat mange. Starting from the ear, face and neck, the sores may spread to the whole body of the cat. Dandruff, itchiness, sores etc are its symptoms.  When plagiarised by flea cat develops an allergic reaction, which again causes itching, hair loss and rough skin called flea bite dermatitis. Tick cat sounds to be a tickling term indeed. Ticks on cats can be easily brushed off, and if it is done within a day, then there is no risk of infection. Yet, there are many diseases that ticks carry, for example, rocky mountain fever, cat Lyme disease etc. Hence those frisky kittens should be kept safe and clean so as to avoid such bugs bugging them.

%article#chigger-dog
  %h1 Chigger Dog
  %p
    If captured by a chigger dog feels a hell lot of irritation due to the extreme itchiness. Chigger is the name given to the larvae form of harvest mites, possessing a parasitic behaviour, hence feeding on the skin fluids of mammals. These arachnid Trombicula mites feed on cats, dogs and even people, causing severe itching. When bitten by a chigger, as bad as poison ivy dog experiences itchiness.
  %img.independent{:src => "./images/chigger-dogs1.jpg"}
  %p
    Chiggers are usually found in grasslands and woody areas, from where your pets collect them and let them bite down their skin tissues. Chiggers' bites can cause red itchy welts on skin, which if scratched again and again can develop into hives etc.
  %p
    Belonging to the same order of Arachnids, ticks are extremely dangerous insects. Owing to the small size of ticks, they are also referred to as seed ticks dog is hence unable to spot them out. In case of an infected tick dog, there is a risk of contraction of many tick-borne diseases like Tick paralysis, Lyme disease etc. A Deer tick dog is an unlikely term that I have come across, because it is rare to find any deer tick interested in a dog rather than chigger dog.
  %p
    Like ticks, fleas also dwell on the blood of mammals. Infested by flea dog becomes very annoyed. Fleas have powerful hind legs, which allow them to jump from one host to another, making their mark as a fast spreading pest. Flea allergy, tapeworms etc may be the outcome of flea bites on your pup. Mosquitoes ruin the peace of your house during warmer months. They are tiny insects that need blood to survive. Only adult female mosquitoes feed on the blood of animals and humans for reproduction. Similar to ticks, mosquito also carries deadly diseases for your pet. Having mosquito bites dog can be infected by the sWest Nile virus, heatworm disease etc. Affected by mange or mites dog experiences itching, irritation, hair loss and skin inflammation. Scabies is also caused by a certain type of mites which burrow into the skin of the host dog. A scabies dog suffers from ugly skin infection that may spread all over the body. Your pet then loses lots of hair and looks quite older than his age. Prevention of such insects is very important if you don't want your pets to fall prey.
  %p
    Even if prevention fails, treatment against chigger dog needs to be followed immediately.
  %img.independent{:src => "./images/chigger-dogs2.jpg"}

%article#flea-dog
  %h1 Flea Dog
  %img.independent{:src => "./images/flea-dog1.jpg"}
  %p
    Dry skin, mange and allergy are the signs of a flea dog attack! When suffering from flea infestation dog may develop red raised bumps around his back, thighs and tail. The seriousness of flea bites reaction depends from one dog to another. One dog may be slightly moved and irritated by fleas, while another dog may contract tapeworms' infection, whereas the third one might form harsh skin infection due to being allergic to flea's saliva. The point is that whenever there are bites of flea puppy may become quite annoying. Just try to imagine the irritation and the pain these pets go through when they can be termed as a flea dog or a flea cat, suffering from the nasty insects' bites all the time. Flea is the common name given to the wingless insects belonging to the family of Siphonaptera. Fleas are bloodsucking insects that dwell on the blood of humans, animals and birds. Dog fleas are supposed to be more troublesome since they are also the vectors for cucumber tapeworms' disease. Fleas' eggs need relatively high humidity to hatch. So spring is probably the best time for the fleas.
  %p
    In order to practice flea control dog should be groomed really well. After all, prevention is considered to be better than cure; so, follow the below methods to avoid flea trouble altogether.
  %ul.list-check
    %li Comb your pet daily with a fine-toothed and put all the debris into a water container. (Thus, the fleas, if any, will drown in water along with their droppings.)
    %li Make a low concentrate of Pyrethrum dip and bathe or dip your dog in it.
    %li Don't just clean the pet, pay immediate attention to cleaning your house- its bedding, carpet, drapes etc.
    %li Bring into use some natural ingredients like lavender, sweet mace, neem and pennyroyal as insect repellents.
  %p
    For getting rid of fleas dog need immediate and accurate treatments. Strong chemical insecticides are sure-shot but contain high levels of toxins. Electronic flea traps are used to attract and kill flea dog should be kept safe; that is the whole idea behind it. Flea collars show results according to the size of dog, density of his coat and the chemicals brought into use. A pyrethrum solution that has been genetically engineered (Permethrin) acts as a great flea killer dog stays rest assured. Permethrin shampoo is best suited for mild fleas' infestations. Insect Growth Regulators (IGR) also tends to hamper the growth of insects like fleas, bed bugs, ticks etc.
  %p
    In order to put the smile back on your pet dog's face, don't even allow the term fleas, bed bugs, scabies or tick dog etc to be used by anyone for your sweet pup. Take care!
  %img.independent{:src => "./images/flea-dog2.jpg"}

%article#lice-dog
  %h1 Lice Dog
  %p
    It is rare to find an infested lice dog; yet it is possible. Most people think that fleas or ticks are the only insects that attack their pest, but they hardly know about dog lice, or canine lice (gray wingless parasites). Often, it is assumed that lice that attack humans are the ones trying to take over cats, dogs and other pets too. But this is just a myth; considering the fact that due to an infestation of head lice dog cannot be affected and vice-versa.
  %p
    Dog lice are very host specific, and they will not tend to move on to another dog unless they are transmitted by direct contact through an infected lice dog. The health threat posed by sucking lice is much higher than chewing lice. Sucking lice penetrate the skin of the dog and dine on the blood, causing symptoms like rough coat, itchy red bumps etc. While chewing lice survive on the dead skin flakes of the dog. Another term that I came across is lice cat, cat infested by host specific louse named Felicola Subrostrata. It is a chewing louse and only infests cats. Aged, hairy and low immunity cats are more vulnerable to this type of lice. Here, cats experience restlessness, scruffy coat, itching, loss of hair and anaemia. A lice horse is also infested by sucking louse and chewing louse, which may lead to results like that of a lice dog. Yet, horses tend to behave aggressively when infested with lice.
  %img.independent{:src => "./images/lice-dog1.jpg"}
  %p
    Depending upon the density of lice infestation on a live dog, health risks and effects differ from one another. In general cases, red bumps and itching (leading to exposed skin) severely may become a dermatitis or allergy. Highly infested dogs may develop weakness also. Dog lice appear to be quite lazy and it is difficult to make out their movements, yet they can be seen through the naked eye while inspection. Unlike fleas dog can easily get rid of lice.
  %img.independent{:src => "./images/lice-dog2.jpg"}
  %p
    Dog lice do not hop around like fleas, neither are they round and fat as ticks dog can keep a little patience, that's all. A scabies dog contracts severe skin infection due to mites. When threatened my mites dog has an array of risks to be scared of. Dog lice prefer to haunt a dirty mal-nourished dog, rather than well groomed clean dogs. Hence you should be extra-careful when it comes to cleanliness of your sweet pet. Bathing your dog with natural mild shampoo, applying lemon extracts to his coat etc are some homely remedies suggested. Going chemical, Pyrethrum shampoos and other salon treatments can prove to be of great help
  %p
    You should be alert even if you find your dog scratching his back. Contact the vet as soon as possible and allow the cute pups to remain calm at heart and body.

%article#mites-dog
  %h1 Mites Dog
  %img.independent{:src => "./images/mites-dog1.jpg"}
  %p
    A dog going through the hardships of having mites crawling over himself is considered to be our poor Mites dog. Mites that attack dogs are commonly known as Mange. They cause intense irritation, itchiness, skin inflammation and hair loss. Mites burrow into the skin of the host dog and live inside it freely. But when the immune system reacts to the infestation, then mites begin to show life-threatening results. Some of these mites are, Scabies mite, dust mite, ear mite, walking dandruff.
  %p
    Infected by scabies mites dog suffers an array of losses. This ugly type of skin infection is caused by microscopic mites, belonging to the family of Arachnids, known as Sarcoptes Scabiei canis. Hair loss and crusting are the major symptoms of scabies in dogs. When attacked by dust mites dog tends to be allergic to the enzymes exposed by them; mite-related dermatitis is the actual term for this condition. Applications of tea-tree oil clop up to suffocate the mites, hence killing them. Walking dandruff or Cheyletiella yasquri is a large mite that terrorises dogs. Affected by this type of mites dog will suffer degradation in his keratin layer, itching occurs and there is also scaling along the dorsal surface. Ear mites, burrowing mites and fur mites (walking dandruff) are some of the mites cat is often surfaced by. Anyhow, an infested mites puppy would be no happier than the one given in the picture (above).
  %p
    Other insects which also pose challenging threats to our beloved pets are discussed below.
  %ul.list-check
    %li 
      %h3 Ticks
      Ticks are Arachnids that belong to the order of Ixodoidea. They feed on the blood of humans and animals, occasionally sucking in reptiles and amphibians blood. A Ticks dog appears to be an object of absolute sympathy; those bloodsuckers fall off in several days!
    %li 
      %h3 Lice
      A louse exists on the dirty hair coats of mal-nourished dogs. Dogs have to cope up with two types of canine lice, sucking louse and chewing louse. Still a lice dog is easy to treat as compared to other pests.
    %li 
      %h3 Chiggers
      When bitten by a chiggers dog experiences intense itching (along with red bumps having a darker centre) within a few hours. As time passes, these swells turn into bigger welts or hives, reacting to the saliva injected by the chigger.
    %li 
      %h3 Fleas
      Dog flea (Ctenocephalides canis) dwells on the blood of cats and dogs, preferably dogs. Yet they also tend to bite humans. It is quite troublesome for the domestic pets as they may develop several allergies to its saliva. Fleas dog is a rather irritated pet.
  %p
    Taking care of the cleanliness of your pet dog and cat holds a rather important place in your daily tasks.
%article#scabies-dog
  %h1 Scabies Dog
  %p
    Suffering from scabies dog surely undergoes quite a painful experience. Scabies is caused when a dog comes into direct contact with an infected pet. On formation of papule or rash dog must be put through diagnosis to a vet. Scabies, also called Sarcoptic mange or dog mange, is the outcome of microscopic itch mites burrowing into the skin of dogs. It is highly contagious, as the mites tend to move from one host to another. When attacked by mites of scabies puppy becomes quite gloomy and very sick, of course. Same is the case with a poor scabies cat.
  %ul.list-img
    %li
      %figure
        %figcaption Scabies mite
        %img{:src => "./images/scabies-dog1.jpg"}
    %li
      %figure
        %figcaption Scabies dog pictures
        %img{:src => "./images/scabies-dog2.jpg"}
  %h2 Scabies dog Treatment:
  %p One of safest techniques for scabies treatment is a lime-sulphur dip easily available in shops across your place. This dip should be used along with a mild medicated shampoo, either chemical or herbal, but it should be anti-mange. In case of spread-out over the whole body, Glococorticoid therapy may prove to be useful. Medications like this have their own side effects like, tremors, ataxia etc.
  %p
    During the first few days of treatment, your dog's health may take a toll. The condition may look worse but patience must be observed while the whole procedure.
  %p
    Some people also try out cutting the dog's hair in areas where papules or lesions exist. After this, antiseptic ointments or antibiotic lotions can be applied to the infected places as well as wounds. The use of natural homeopathic sprays over the dog's coat helps in preventing this skin hazard. The best idea is to frequently clean up the living areas of your dog and also take care of his personal cleanliness. For this purpose, washing, vacuuming, dusting etc would prove to be your lethal weapons for destruction of scabies mites.
  %p
    Due to bites of chiggers dog may develop redness, itching and crusting of skin. Canine lice infestation is uncommon in the US. Yet lice dog is not another new term. Such louse exists on the dirty hair coats of mal-nourished dogs. Dogs have to cope up with two types of canine lice- sucking louse and chewing louse. Hives, medically known as Urticaria is an allergic reaction to insect bites amongst dogs. When contracted hives dog has to go through the experience of having small bumps over the skin, face, tongue and ears. Excessive itching and swelling in eyes and face may also take place. Kindly take good nourishing care of your beloved pet or else he may have to go through very difficult phases just because of these pesky pests.

%article#tick-dog
  %h1 Tick Dog
  %p
    A dog infested by ticks has gained the popularity of being a Tick dog! Ticks are highly dangerous insects that can harm your dog to the extreme. Same is the case with an infested tick cat. In both cases the condition of your beloved pet can become worse with time. Hence, a tick attack demands immediate action within 24 hours. Ticks are Arachnids belonging to the family of Ixodoidea. They feed on the blood of humans and animals, occasionally sucking in reptiles and amphibians blood.
  %h2 Take a quick view of the tick dog pictures:
  %ul.list-img
    %li
      %figure
        %figcaption Tick attached to dog
        %img{:src => "./images/tick-dog1.jpg"}
    %li
      %figure
        %figcaption Unfed and fed dog tick
        %img{:src => "./images/tick-dog2.jpg"}
  %p
    See the difference between an unfed brown dog tick and an engorged tick. Imagine the quantity of blood that they suck in after sticking to your pet for several days together.
  There is quite a scary number of borne tick disease dog can fall prey to. Some of the major ones include- Tick paralysis among dogs, Lyme disease, Rocky Mountain spotted fever, Babesiosis, Ehrlichiosis, Anaplasmosis, and Anaemia etc. Weakness, lameness, joint swelling etc are some other general effects that a tick-bite may have.
  %p
    The most commonly found ticks are-
  %ul.list-check
    %li
      %h3 American dog tick
      This tick carries Rocky Mountain spotted fever and is one of the well-known hard ticks found in North America. It is also known as a Wood tick dog and its hosts are primarily dogs.
    %li 
      %h3 Deer tick
      Also known as black-legged tick is defamed for spreading Lyme disease and prefers to have its host from livestock.
    %li 
      %h3 Lone star tick
      Lone star ticks are quite aggressive and prefer attacking humans. However, lone star tick dog and other animal cases are also known to have taken place.
    %li
      %h3 Southern cattle tick
      It attacks sheep, horses, goats and other species as well, but cattle are its favourite hosts.
  %p
    An attached tick dog removal is quite easily possible, as they are visible to the naked eyes. One can just brush them off the skin using a towel or piece of cloth; bathing in warm water is also effective in this procedure. In case of tick prevention dog should be checked in a two-fold way; first you should prevent your dog from running off to grassy woody areas, and last powders, sprays including other tick repellents must be kept at handy. Mind it, there is no accurate way to eradicate ticks completely, especially after knowing that some ticks act very aggressively in pursuit of their hosts. So, if you're planning to buy a concert ticket dog and pups need to be taken care of at first. Otherwise the whole fun and frolic would be lost.
