- @title = "Bed Bugs Treatment| How to get rid of bed bugs | Bed Bugs Control| Bed Bugs Extermination"
%article#bed-bugs-treatment
  %h1 Bed Bugs Treatment
  %img.independent{:src => "/images/bed-bugs-treatment1.jpg"}/
  %p
    To tell the truth, bed bugs treatment is not everyone's cup of tea! It may sound rude, but yes, the procedure involved in the identification, detection and extermination of bed bugs is really tricky. Do not panic whenever surrounded by this question- "how to get rid of bed bugs?". The answer to this is far from being simple.
  %p
    Bed bugs are small rust-colored parasites that survive on the blood of mammals, preferably humans. Human body heat attracts them the most. They come out to feed only during the night. An adult bedbug utilizes not more than ten minutes to suck in blood. Its size resembles that of a lady beetle.
  %p
    Bed bugs rash is formed by bed bug bites. These bed bug bites look like tiny red welts, on the skin of the victim, having a severe itching sensation. Such rashes must not be confused with mosquito bites, scabies, spider bite etc. Bed bugs rash usually fade away on their own once the cause is diminished. It is recommended that you leave the rash to heal by itself. However, certain coolant lotions can be brought into use as a bed bugs rash treatment.
  %ul.list-img
    %li
      %figure
        %figcaption Bed bugs pictures
      %img{:src => "/images/bed-bugs-treatment2.jpg"}/
    %li
      %figure
        %figcaption Bed bugs rash treatment, the natural way
      %img{:src => "/images/bed-bugs-treatment3.jpg"}/
  %p
    It is challenging yet possible to detect bed bugs infestation. You just have to be aware of the various bed bugs signs. Consider the following:
  %ul.list-check
    %li Dark colored stains on your bedding, curtains, mattress etc. This consists of their feces, blood, egg shells, dead bugs etc.
    %li A sweet damp scent in the house which is released by bed bugs scent glands.
    %li Formation of red itchy bulges on your legs, back and torso (the outcome of bed bug bites).
  %p
    Now, let's focus on the question of how to kill bed bugs. The ultimate bed bugs killer is a professional exterminator. Exterminators turn your house upside down in order to find and kill all the bed bugs present. Spending lavishly on bed bugs spray does not seem as a very good idea to me. Power sprays are effective to some extent, but not wholly.
