%h1 Bed bug dog
%p
  %img{:src=>"./images/bed-bug-dog1.jpg"}
  Bed bug dog is one of the recent additions to the bed bug detection technique. With everybody going green these days, addition of this natural, 'green' method in this field is popularly received.
%p
  Dogs as we know have been known as man's best friend. They have been used for detection of drugs, human remains, blood, explosives, weapons etc. They have been extremely useful to the police department. Now they have come to the rescue of the common man in bed bugs problem as well, because of their extra ordinary power to sniff out. 
%p
  A human expert can exterminate more bed bugs than a layman. But a bed bug dog can detect bugs even more accurately than a human expert. If you suspect the infestation of bugs dog would be a natural, non chemical and thus more user friendly way to get rid of them.
%p
  Because of bed bug cat, dog and other pets can also be affected. Since they suck blood, and make you itch, they are irritating to animals as well. Also this infestation in animals is not easily detectable. 
%p
  Bed bug dog have to be saved from the infestation as well. They spend a lot of time searching for a possible place of a bug hide out. Scabies, fleas, chiggers, mites, and lice are some of the common bed bug detection. Due to scabies dog loses its body hair.
%p 
  If infected by flea dog can suffer from cucumber tapeworm which is a Cestode that infects pests suffering from fleas. In case of mange mites dog suffer from irritated skin, itching and hair loss. The dog eventually becomes frustrated from this problem and it is a long time before it gets rid of this nuisance. Same is the case of chiggers. In case of chigger dog is bitten by them and they suffer from chiggers if they are more exposed to wooded area or dense outdoors. Due to tick dog can suffer from bites, sore skin and itching resulting in infection. Thus ticks are also unwanted and harmful parasites. And the famous problem that dogs and humans suffer from is lice. Generally we think that lice infect dirty hair. But lice's preference is clean hair. Nevertheless, they suck blood and itchiness develops. If itched excessively, it may lead to patchy skin. Therefore, lice dog is not a great combination! 
%p
  The point of the article is that bed bug dog helps us a lot to detect bed bugs in human colonies; but we should also be careful that some other mite colonies are not formed in the poor dogs themselves.       

