%h1 I got 10 BB [Bug Bites] on my softwar*e!
%p
  I enjoy working at nights, nights are filled with much ideas and enthusiasm; and then we wake up at dawn and expose our ideas to broad daylight. One fine night I sat down working upon some pending scripts, I was utterly relaxed; enjoying the momentum and vastness of my work, thinking how easy it is to split an atom. I remember the exact expression on my face; after recollecting all the odd incidents that happened during the day, everything good and bad and the ones in between, oh yeah expression; I was overflowing with grace and gratitude for having being got the ability to exist and think and feel and do half a million things at the same time. But I must take rest, it's too late, I thought. Bed was feeling soft and absorbent, and tonight it has been very calm and quiet. I like sleeping in my own skin; and that's what I did. Dreaming about fantasies and pleasures, sleep happened. Then suddenly, I woke up scratching my back from the realms of unrealities, a vigilant enemy has been stealing my relief! I looked upside down to find and destroy this enemy. But I had no clue. The itch got bigger and I could see from the corner of my eyes [after adjusting the mirror at various positions]; the tiny red dotted spots mushrooming on the back side of my body. Reluctantly I threw the mirror on the bed and sat down on a chair right next to my bed; after I sat down I could feel some more dots sprouting out from my back. I stretched my hands to reach the mirror again.
%p
  Here it was! I felt waves of paranoia rushing down my spines, as I saw those tiny creatures crawling all over my bed; I got bitten by bed bugs!! Yuck!!! Now my sleep was disturbed forever. I decided to dispose the bed and its inhabitants; alas it was too late for that or was it? I experiment with numbers when I am confused, it sorts the way out. But that night I was totally absorbed in itching and scratching my rear portion constantly, so as to count myself into numbers. After a self-satisfying amount of nailing throughs, I started to count the spots these beasts have created, circling my fingers around the infected area. After a lot of struggle I counted 10 and stopped. Something I had seen in some highway hoarding drew my attention. I faintly recollected the words "Bed bug Extermination: 24 x 7". I also made the connection with number 10. I've got to teach these little monsters a lesson which they won't be alive to remember. I shouldn't even waste 10 seconds in doing that. Neither should you.
%h2
  Spot the bug
%p
  Whenever you see these filthy little creatures anywhere in your house or surroundings, make it a point to take the first step; or they might take 10!
%h2
  Share with us
%p.poem
  %i You can always share;
  %i What you can't bear,
  %i Together we'll take care!!
