- @title = "Bugs Dog NYC |Dog Disease |Bug Infected Dog| Infection Of Bed Bugs in Dog"
%article#bugs-dog
  %h1 Bugs Dog
  %p
    Considering the 'n' number of bugs dog can be attacked by, it is utterly necessary that you keep your pet's coat clean and tidy. Remember that bugs found on dogs such as fleas, ticks and mites etc are on a constant lookout for a hideout as well as food. In such a situation, your dog's hair would prove to be a great place. Take a quick view of some pretty small bugs dog is vulnerable to:
  %img.independent{:src => "/images/bugs-dog1.jpg"}/
  %p
    The hair of a dog's coat is warm and it clouds the existence of bugs on his body. Threat of some kind or the other is placed by every bug dog breed is then ultimately challenged by them. Bugs like- ticks, fleas, mosquitoes, lice, mange, scabies mites, ear mites, walking dandruff, bed bugs, chiggers etc bring along with them varied threats.
  %img.independent{:src => "/images/bugs-dog2.jpg"}/
  %p
    Ranging from general outcomes say, itchiness, red welts, rashes, hair loss etc, the infections can become severe and life-taking also. Take the example of Lyme disease, tapeworms, tick paralysis, anaemia, muscle cramps, tissue breakdown etc. Owing to the appearance of bugs puppy may have to face such diverse effects. Dog owners should not leave any stone unturned in the procedure of bugs prevention. It is true that managing a dog's hair is quite troublesome and it is rather more difficult to keep a track of wherever the dog goes. Prepare him like the ever-ready Bugs Bunny. Give him the proper grooming and bestow upon him the confidence to dodge bugs. Then only can he be called a Bugs Bunny Dog.
  %p
    Entomology study of bugs: It is a branch of arthropodology. Insects account for 2/3rds of all living organisms. Thanks to entomology and its progressing research, insect identification is easily possible and is also developing into a hobby.
  %p
    Occurence of certain bugs cat, horse, dog is host specific
  %ul.list-img
    %li
      %img.independent{:src => "/images/bugs-dog3.jpg"}/
    %li
      %img.independent{:src => "/images/bugs-dog4.jpg"}/
