- @title = "Cockroach pest control | How to get rid of Cockroach | Control Cockroach | Bed Bugs Exterminators"
%article#cockroach
  %h1  Cockroach
  %p
    Cockroach has been one of our oldest enemies since ancient period and still they are surviving adapting the changes in environment. They are the wicked insect of nature found all over the world; and it's next to impossible to kick them out of our house, doesn't matter how hard we try. It is a nocturnal insect so difficult for you to find them out in day time. The favourite hide out of cockroaches is under refrigerator, gas, kitchen cabinet, cervices of wall, inside electronic equipment and many more.
  %p
    When cockroaches are hungry they eat almost anything even clothes also. There are many species of roach but the one who makes your life hell is German cockroach. They reproduce at a rapid pace and difficult to get rid of them completely. 
  %p
    But don't panic now!!! Here we are providing you some tips to tackle the notorious insect. Pull up your socks to fight with them with these tips and remedies.
  %ul.list-check
    %li 
      Always keep your house clean and vacuum it properly.
    %li 
      Do not leave dirty utensil in the sink over night.
    %li 
      Left over foods should be kept in a refrigerator or in a tightly closed container.
    %li 
      Garbage should be disposed at a regularly and should be kept outside the house.
    %li 
      Periodical check up for roach in every look and corner of house.
    %li
      Removal of unused furniture.
  %h2
    By using these tips you can reduce the chances and population of cockroach infestation. Below are some home remedies to get rid of cockroaches.
  %ul.list-check
    %li 
      Caulk every cracks and gaps from where cockroaches enter your house. 
    %li 
      Weatherstrip doors and window so outside roach should not get in.
    %li 
      Dust your house with boric acid powder; as such it should be out of reach to your children and pets.
    %li 
      Sticky trap is also beneficial to keep them away.
    %li 
      Sprinkling bay powder or mixture of baking soda and sugar on cockroach makes them dehydrate and die.
  %p
    I hope some of our tips and remedies will proof beneficial for you. And still you are unable to fight with them; then it is high time now. Pick up your phone and call us now...We will take care of cockroach with our own ways. If you are in need of service feel free to call us anytime.
