%h1 Contact Us
%p
  %img{:src => "./images/contact-us1.jpg"}
%p
  If you are infected by bed bugs, pests and rodents in or around your home, office or surroundings; give us a call.
%strong Customer Care Representative
%p
  %strong 001911711611511800
