- @title = "Cryonite services |C ryonite Trearment|Bed Bugs Pest Control"
%h1  Cryonite
%ul.list-img
  %li
    %img{:src =>"./images/cryonite1.jpg"}
  %li
    %img{:src =>"./images/cryonite2.jpg"}
  %li
    %img{:src =>"./images/cryonite3.jpg"}
  %li
    %img{:src =>"./images/cryonite4.jpg"}
%p
  Among various other services provided by us for bed bug elimination, Cryonite is a service that is quite popular. It is new service and not many people know about it. It does not mean that it is not admired or it is harmful in any way. It just means that its number of customers is not as much as the number of customers for other well known services. 
%p
  Known to be a revolutionary product, Cryonite has gained much fame in a short period of time. It is very famous in Europe and U.K. for elimination of various types of pests. It is also well known for its non toxic property. This product was developed keeping in mind the huge mass of people who were fed up of chemical pesticides and their allergic reactions. We are one of the first companies who have launched this product with numerous customers being thoroughly satisfied.
%p
  Cryonite uses CO2 and its extreme cooling properties to kill pests- specially bed bugs. It transforms CO2 into dry ice snow. The pests have no escape to this attack and they are frozen to death. Pests are non resistant to extreme cold temperature. Therefore, since it is their nature, it is impossible for them to develop immunity to this product. Since it is non toxic, you do not have to get in the hassle of shifting to a different place for a couple of weeks till the pest extermination is done. Now no one can make you leave your own house. You can be there when the extermination happens and no side effects would be seen. 
%p
  The Cryonite mixture is well tested. Therefore, no tragic outcome would be seen even in a long run. Since it consists of CO2 vapours, it can easily gain entry into cracks, fissures, beddings and floorings. It thus guarantees thorough cleaning.
Though the process is simple, some things are best when left to experts. We recommend you that you call in one of our expert exterminators and leave the rest to us. We assure you that you will not be disappointed. 


