- @title = "Fleas Pest Control| How to get rid of Fleas | Bed Bugs Exterminators"
%article#fleas
  %h1 Fleas
  %p
    Fleas are fully capable to spread an epidemic around the globe! The whole world stands witness to this statement, as these insects (now, in the league of pests) have already given us enough evidence. These pests are bloodsucking parasites belonging to the class of Siphonaptera. The color of a flea can be anywhere between reddish-brown to black. Adult fleas have strong hind legs which help them to jump easily through feathers and hairs. Entomologists have discovered the existence of more than 2,000 species of fleas; the common ones being Cat flea, Dog flea and Human flea.
  %img.independent{:src => "/images/fleas1.jpg"}/
  %ol
    %li
      %strong Fleas on humans-
      Evolution among the flea species has caused the human flea (Pulex irritans) to specialize on different animals as well. Found widely in pigsties, human fleas can jump onto other animals and humans when nearby. Now, a human flea infestation is rare.
    %li
      %strong Fleas on cats-
      The cat flea (Ctenocephalides felis) is most widespread flea species on earth. Fleas attacking cats attack dogs as well. Flea Allergy Dermatitis (FAD) is usually caused by flea feeding.
    %li
      %strong Fleas on dogs-
      Dog flea (Ctenocephalides canis) dwells on the blood of cats and dogs, preferably dogs. Yet they also tend to bite humans. It is quite troublesome for the domestic pets as they may develop several allergies to its saliva. Check out some pictures of fleas.
  %ul.list-img
    %li
      %img{:src => "/images/fleas1.jpg"}/
    %li
      %img{:src => "/images/fleas2.jpg"}/
    %li
      %img{:src => "/images/fleas3.jpg"}/
  %p
    Getting rid of fleas can be a very challenging task because of their reproduction rate. Microscopy and taxonomic keys help to identify fleas' existence. With the rise in usage of carpeting, number of pets and central heating, flea control is becoming a bigger problem for professional pest controllers. Insect Growth Regulators (IGRs), frequent vacuuming (of floors, carpets), bathing pets regularly and washing their bedding with insecticidal preparation are perfect for killing fleas plus their eggs, nymphs etc.
  %p
    Fleas had caused the Bubonic Plague in 14th century which had resulted in the deaths of millions of people worldwide. Do not let them take control again.
