- @title = "Files pest control | How to get rid of Flies | Control Flies | Bed Bugs Exterminators"
%article#flies
  %h1  Flies
  %ul.list-img
    %li
      %img{:src => "/images/flies1.jpg"}
    %li
      %img{:src => "/images/flies2.jpg"}
  %p
    House flies have been buzzing all around us since millions of years. We all are very much familiar with it. They are very common household pests. Though they don't bite but plays a major role in transmitting disease. They love to visit all the dirty places like sewers, dumps, faecal matter, sputum, decaying matter and many more. As they come to rest they regurgitate and excrete thereby transmitting many diseases. 
  %p
    Flies are found all around the world. They hop into your house in warmer season and once they are in they can be a real pain. They reproduce at very fast rate though they have small life cycle. It keeps you irritating all the time by producing humming sound near you. It has been found that they are responsible for transmitting more than 65 diseases. It's not difficult to keeps them away from your house.
  %h2 Here we are giving you some basic tips to deal with flies.
  %ul.list-check
    %li 
      Maintaining proper sanitation keeps fly away for long time.
    %li 
      Keep all food covered in tightly lid container.
    %li 
      Keep trash can always clean and dispose it regularly.
    %li 
      Proper drainage will help in eliminating extra moisture from home.
    %li 
      Seal all the entry gaps in your home.
    %li
      You can have flyswatter to kill the fly. 
  %p
    By using these basic tips you can reduce the chances of their entry.  Below are some home remedies which are non toxic and very friendly for your health.
  %ul.list-check
    %li 
      Boric acid is commonly used natural insecticide. Dust your house with boric acid powder; as such it should be out of reach to your children and pets.
    %li 
      You can hang a pine bunch or keep lavender flower in your house. Because flies hate their smell.
    %li 
      You can have sticky traps near the windows or door..
    %li 
      A bowl of vinegar or a glass with water and mint leaves also keep the flies away.
  %p
    I hope all these tips and remedies will be beneficial for you. If you are unable to tackle them then call us on our helpline number and take our service.
  %p
    If you are in need of service feel free to call us anytime.
