%h1 Heat Treatment
%img.independent{:src => "./images/heat-treatment1.jpg"}/
%p
  Heat Treatment is one of the most important steps that we advise our customer to take before an exterminator is called in. A research conducted by various universities worldwide, demonstrated that hot water is very effective in disinfecting clothes and linens. Therefore, in case of a pest infestation, it is recommended that all the fabrics, drapes, and linens are treated to sizzling water. Do make sure that enough care is taken while washing you delicate clothes. Stuff other than the above mentioned one can also be given Heat Treatment provided they are either water resistant or at least non porous.
%ul.list-img
  %li
    %img{:src => "./images/heat-treatment2.jpg"}/
  %li
    %img{:src => "./images/heat-treatment3.jpg"}/
%p
  Heat Treatment though not a complete solution, acts as a foundation for the pest removal procedure. With a lot of pests dying in the searing aqua, it is easier to kill the others that are alive and see to it that they do not make a comeback. After the use of warm water for cleaning, the things that are washed come out clean, uncontaminated and sanitised. Because of this, the chances of re-infestation reduce.
%p
  Today, in the wake of issues like global warming, it is wise to implement solutions that are eco friendly. Instead of using random pesticides or other harmful chemicals for pest control; a combination of Heat Treatment and professional pest control is always the best way outs. We provide herbal pest control methods that not only eradicate pests but also give you allergy free surroundings.
%p
  Heat Treatment is not an answer to all pest related problems. But, it has the potential to become a vital tool in pest control strategies. For further help, we are always there for you. Just drop by one of our offices or give us a call. Why delay your comfort when it can be so easily regained?
