%h1   How big is the problem?
%p
  It has been established time and again that there are certain species of pests, bugs and rodents, posing a threat to humans thousand fold of their own size. We have been ignorant or pre-occupied to pay attention towards these critters untill it was too late. They grew up in immunity and indicated voracious appetite to feed on human blood, flesh & skin. Being smaller in size gives them the liberty to go unnoticed anywhere and everywhere. As technology and science has grown over the years; we can now transport them very easily from one corner of the world to another, without much effort or hassle.
%h2
  The very powerful is very small.
  It's time to resurrect the wall.
%p
  What we do not usually notice are the creatures that we carry around in our handbags and luggage. It is actually very easy for these pests and bugs to get into a new place and spread their wings of disaster without getting noticed. Once they are at your home or surroundings; they cling onto their natural habitat and start reproducing rapidly; building up an army of millions in quicker than a fortnight. Once they grow in numbers; they eventually start interfering with humans and their activities. Till the time we notice these creatures, they will be hovering all around our houses, poking a nose on our safety and security.
%h2 How do we expertise?
%p
  We incorporated in the year 1985 in New York; attending the effected/ infected population by the appropriate usage of the best mediums of pest elimination. Initiating with a small group of 15 licensed squad members; and operating in the nearby provinces affected by the pests, rodents and bed bugs, made us believe more firmly in the hugeness of the issue. As the resistivity of these creatures increased manifold over the years; we expanded our methodologies and strategies to cope with them; also we have grown in size and numbers; so that we can broaden our reach towards other nearby territories of New Jersey & Connecticut. 
%p
  With the introduction of modern technology in the field of pest elimination, we have scientifically researched each and every species of pests, bed bugs & rodents posing a threat to 'Us Humans and our Habitat'. Our research has made us believe that some of the species have become significantly immune to even the most severe of chemical fumigation, poisoned baits and sprays. Because of the constant usage of these "controlling methods"; they are now posing a much bigger threat to human civilization than ever. Leading to this analysis, our researchers have propounded the "3E" solution which can finally segregate us from them.
  %strong ERADICATE!  EXTERMINATE!  ELIMINATE!
%h2 Key factors
%ul
  %li
    Tailor-made Elimination Plans for each & every house.
  %li
    Free cost-estimation to be provided upon queries
  %li
    30-day follow-up plan; to ensure your safety and security.
  %li
    Inexpensive than you ever thought will be.
  
