- @title = "Honeybee pest control | How to get rid of Honeybee | Control Honeybee | Bed Bugs Exterminators"
%article#honeybee
  %h1  Honey Bee
  %ul.list-img
    %li
      %img{:src => "/images/honeybee1.jpg"}
    %li
      %img{:src => "/images/honeybee2.jpg"}  
    %li
      %img{:src => "/images/honeybee3.jpg"}
  %p
    Right from early childhood, we are aware of honey bee as a cute little winged insect that collects nectar from flowers which is processed by human beings to form honey. The people who have been bitten by a bee, however, do not think so. It is a useful insect for human kind in more ways than one; but its bites are dreadful. A honey bee will sting only when it feels endangered, the sting being quite painful. We have introduced products for bee control so that you will never get a shot of this frightful experience. 
  %p
    At our stores, dusters specially designed for the elimination of bees are available. These dusters have tapered cork for accurate extermination. If you want to slay honey bees on a larger extent, a spray containing Lamdba- Cyhalothrin can be used. These have proved to be extremely useful in quick honey bee assassination.  It may also be used to secure the circumference of the house against a honey bee attack. Since some people might develop extreme reactions to a bee bite, it is wise to take a preventive action rather than curative.
  %p
    A honey bee dies if the stinger is torn out of its body. This tip might come in useful if you spot a single bee. In a case otherwise, we have a range of products that would come in handy. A Deltamethrin based spray is an excellent example of such a product. This spray leaves a residual dust which is not only useful to eliminate bees but also for various other insects. Its effect last for more than 6 months if it is left undisturbed. It is moisture non absorbent and does not plod.
  %p
    We provide you these products at a very low price. We have various schemes for those of you who buy multiple products or buy both product and services. Hurry up so that you life does not 'sting'.  
