- @title = "Bed Bugs Pest Control| How to get rid of bed bugs| Bed Bugs Extermination"
%article#kill-bed-bugs
  %h1 Kill Bed Bugs
  %p
    It is difficult to kill bed bugs all by yourself. They are chaotic, filthy and the size of a rice grain! We recommend that apart from trying the methods to kill bed bugs naturally, you should seriously think of hiring professional exterminators.
  %img.independent{:src => "/images/kill-bed-bugs1.jpg"}/
  %p
    Recently, bed bugs have created numerous problems not just for New Yorkers, but they've also terrorized the neighboring areas. Bed bugs are nocturnal parasites that appear to be reddish-brown in color. A bed bug's size resembles that of a rice grain. It feeds on the blood of mammals, usually humans. Bed bug bites develop into red itchy swells on that particular area. The reproduction rate of bed bugs is very high. Hence, if left unchecked, its population may increase with a shocking rate of 100% within some days!
  %p
    Nowadays, there are many products available in the market to kill bed bugs completely. Let us check out some of the options at hand:
  %ul.list-check
    %li Kill bed bugs spray: A variety of bed bugs spray has been launched keeping in mind the present plagiarized scenario. A general purpose spray can be used to cut back their population.
    %li Bed bug dust: Dust used in the elimination of bed bugs might prove to be really useful as they can be sprinkled over cracks, seams and crevices with the help of crusader dusters.
    %li Pest control: A professional exterminator is the actual bed bug killer or the lifesaver. Exterminators do charge a good amount of money as their service fee, yet their works are worth that expense
  %p
    Phew! Dealing with bed bugs is a complicated and a tough job. Whereas, terminating other insects, mites etc. is comparably less annoying. Say for example Chiggers. It is suicidal if you wear short clothing in areas infested by chiggers. Mosquito repellants can keep the chiggers at bay for some hours. Warm soap water is enough to kill chiggers. Bed mites or dust mites feed on dead flesh i.e. skin flakes of humans. In order to kill bed mites, you should freeze the affected stuff or heat the stuff above 130 degrees Fahrenheit. Body lice also cannot survive excessive heating or freezing. Permethrin insecticide can kill body lice, but it should be used as a last resort. Fleas are insects that survive on the blood of mammals, usually feeding on your pet dog! Fleas are of different types. But that's another story. Adulticides can kill fleas belonging to the adult stage. IGRs, carpet aerosols, flea collars, flea powders are some of the remedies available.
  %p
    It is necessary that we eliminate this threat at the earliest possible time, before it breaks into a worldwide epidemic.
  %img.independent{:src => "/images/kill-bed-bugs2.jpg"}/
