- @title = "Lice Dog| Lice Dog NYC| Lice Infected Dog| Infection Of Lice in Dog"
%article#lice-dog
  %h1 Lice Dog
  %p
    It is rare to find an infested lice dog; yet it is possible. Most people think that fleas or ticks are the only insects that attack their pest, but they hardly know about dog lice, or canine lice (gray wingless parasites). Often, it is assumed that lice that attack humans are the ones trying to take over cats, dogs and other pets too. But this is just a myth; considering the fact that due to an infestation of head lice dog cannot be affected and vice-versa.
  %p
    Dog lice are very host specific, and they will not tend to move on to another dog unless they are transmitted by direct contact through an infected lice dog. The health threat posed by sucking lice is much higher than chewing lice. Sucking lice penetrate the skin of the dog and dine on the blood, causing symptoms like rough coat, itchy red bumps etc. While chewing lice survive on the dead skin flakes of the dog. Another term that I came across is lice cat, cat infested by host specific louse named Felicola Subrostrata. It is a chewing louse and only infests cats. Aged, hairy and low immunity cats are more vulnerable to this type of lice. Here, cats experience restlessness, scruffy coat, itching, loss of hair and anaemia. A lice horse is also infested by sucking louse and chewing louse, which may lead to results like that of a lice dog. Yet, horses tend to behave aggressively when infested with lice.
  %img.independent{:src => "/images/lice-dog1.jpg"}/
  %p
    Depending upon the density of lice infestation on a live dog, health risks and effects differ from one another. In general cases, red bumps and itching (leading to exposed skin) severely may become a dermatitis or allergy. Highly infested dogs may develop weakness also. Dog lice appear to be quite lazy and it is difficult to make out their movements, yet they can be seen through the naked eye while inspection. Unlike fleas dog can easily get rid of lice.
  %img.independent{:src => "/images/lice-dog2.jpg"}/
  %p
    Dog lice do not hop around like fleas, neither are they round and fat as ticks dog can keep a little patience, that's all. A scabies dog contracts severe skin infection due to mites. When threatened my mites dog has an array of risks to be scared of. Dog lice prefer to haunt a dirty mal-nourished dog, rather than well groomed clean dogs. Hence you should be extra-careful when it comes to cleanliness of your sweet pet. Bathing your dog with natural mild shampoo, applying lemon extracts to his coat etc are some homely remedies suggested. Going chemical, Pyrethrum shampoos and other salon treatments can prove to be of great help
  %p
    You should be alert even if you find your dog scratching his back. Contact the vet as soon as possible and allow the cute pups to remain calm at heart and body.
