- @title = "Mice pest control | How to get rid of Mice | Control Mice | Bed Bugs Exterminators"
%article#mice
  %h1  Mice
  %ul.list-img
    %li 
      %img{:src => "/images/mice1.jpg"}
    %li
      %img{:src => "/images/mice2.jpg"}
    %li
      %img{:src => "/images/mice3.jpg"}
  %p
    Mice are the most damaging and troublesome rodents found in the United States. They are mistaken to be rats; they are usually are smaller than rats and have long ears. Some are small rodents with relatively large ears and small black eyes. They weigh about 1/2 ounce and usually are light brownish to gray in colour. An adult is about 5 to 7 inches long, including their tail. They contaminate and consume foods that are left open mistakenly and damage structures and properties. They even transmit diseases to other animals and humans. Mice live and thrive under a wide variety of climatic conditions and are frequently found in and around homes, farms, gardens, buildings, and open fields.
  %p
    How to Spot a mice Infestation?
  As they are active throughout the year, periodically for their presence is recommended. Once your house gets invaded a big trouble is there at your place and the damages endless. Unless your house is completely rodent proof, it is only a matter of time before these unwanted guests arrive. Many people have agreed that, the early someone implements the control measures the more effective would be the mice control program.
  %p
    Inspect your yard and home thoroughly. If the answer to any of the following questions is yes, you may have a big problem knocking your door.
  %ul.list-check
    %li 
      Do you find different faeces around your dog or cat dishes or pet food storage containers?
    %li 
      Do you hear noises coming from the attic just after dusk?
    %li 
      Does your dog or cat bring home dead animal carcasses?
    %li 
      Is there evidence of rodents feeding on fruit/nuts that are in or falling from the trees in your yard?
    %li 
      Do you see burrows among plants or damaged vegetables when working in the garden?
    %li
      Do you see small animals travelling along utility lines or on the tops of fences at dusk or soon after?
    %li
      Do you see burrows beneath your compost pile or beneath the garbage can?
    %li
      Did you ever remove dead mice from your swimming pool or hot tub?
    %li
      Do you see evidence of something digging happening under your garden tool shed or doghouse?
  %p
    Do not panic. Please give us a call and we would be there at your doorstep to help you.
