- @title = "Mites Dog NYC| Dog Infected By Mites| Infection Of Mites Dog"
%article#mites-dog
  %h1 Mites Dog
  %img.independent{:src => "/images/mites-dog1.jpg"}/
  %p
    A dog going through the hardships of having mites crawling over himself is considered to be our poor Mites dog. Mites that attack dogs are commonly known as Mange. They cause intense irritation, itchiness, skin inflammation and hair loss. Mites burrow into the skin of the host dog and live inside it freely. But when the immune system reacts to the infestation, then mites begin to show life-threatening results. Some of these mites are, Scabies mite, dust mite, ear mite, walking dandruff.
  %p
    Infected by scabies mites dog suffers an array of losses. This ugly type of skin infection is caused by microscopic mites, belonging to the family of Arachnids, known as Sarcoptes Scabiei canis. Hair loss and crusting are the major symptoms of scabies in dogs. When attacked by dust mites dog tends to be allergic to the enzymes exposed by them; mite-related dermatitis is the actual term for this condition. Applications of tea-tree oil clop up to suffocate the mites, hence killing them. Walking dandruff or Cheyletiella yasquri is a large mite that terrorises dogs. Affected by this type of mites dog will suffer degradation in his keratin layer, itching occurs and there is also scaling along the dorsal surface. Ear mites, burrowing mites and fur mites (walking dandruff) are some of the mites cat is often surfaced by. Anyhow, an infested mites puppy would be no happier than the one given in the picture (above).
  %p
    Other insects which also pose challenging threats to our beloved pets are discussed below.
  %ul.list-check
    %li
      %h3 Ticks
      Ticks are Arachnids that belong to the order of Ixodoidea. They feed on the blood of humans and animals, occasionally sucking in reptiles and amphibians blood. A Ticks dog appears to be an object of absolute sympathy; those bloodsuckers fall off in several days!
    %li
      %h3 Lice
      A louse exists on the dirty hair coats of mal-nourished dogs. Dogs have to cope up with two types of canine lice, sucking louse and chewing louse. Still a lice dog is easy to treat as compared to other pests.
    %li
      %h3 Chiggers
      When bitten by a chiggers dog experiences intense itching (along with red bumps having a darker centre) within a few hours. As time passes, these swells turn into bigger welts or hives, reacting to the saliva injected by the chigger.
    %li
      %h3 Fleas
      Dog flea (Ctenocephalides canis) dwells on the blood of cats and dogs, preferably dogs. Yet they also tend to bite humans. It is quite troublesome for the domestic pets as they may develop several allergies to its saliva. Fleas dog is a rather irritated pet.
  %p
    Taking care of the cleanliness of your pet dog and cat holds a rather important place in your daily tasks.
