- @title = "Mosquito pest control | How to get rid of Mosquito | Control Mosquito | Bed Bugs Exterminators"
%article#mosquito
  %h1  Mosquito
  %ul.list-img
    %li
      %img{:src => "/images/mosquito1.jpg"}
    %li
      %img{:src => "/images/mosquito2.jpg"}
    %li
      %img{:src => "/images/mosquito3.jpg"}
    %li
      %img{:src => "/images/mosquito4.jpg"}
    %li
      %img{:src => "/images/mosquito5.jpg"}
    %li
      %img{:src => "/images/mosquito6.jpg"}
    %li
      %img{:src => "/images/mosquito7.jpg"}
    %li
      %img{:src => "/images/mosquito8.jpg"}
  %p
    We desire that mosquito bites do not disturb our customers  and that they get a good night. Are you having a trouble in spite of all those nettings and coils? Here is something that would guarantee you a honey dipped night without the annoying mosquito song.
  %p
    Everyone knows that mosquitoes are responsible for spreading disease like Dengue, Malaria etc. It does not live long but can transmit many diseases in its short life. Babies are worst affected by mosquitoes since they develop rashes and due to low immunity, catch the above mentioned diseases faster than adults. It thus becomes even more important to ensure that not a single mosquito touches your prince or princess. 
  %p
    Mosquitoes thrive in stagnant water. Therefore, to begin with, you have to clean all the places where water might have been accumulated. If you have a certain object like an outdoor water tank or a fish tank wherein water disposal is not an option, Gambusia affins, also known as mosquito-fish can be used.
  %p
    These fish are renowned for their use in mosquito larvae hogging. Make sure though that these fish are removed after a certain period of time so that they do not harm other fishes due to their destructive nature. These fishes are available with us at a very decent price. A representative will also help you to remove them once their work is done. 
  %p
    We provide a dispenser that automatically dispenses aerosol after a certain period of time. It is an ideal instrument in kitchens and restaurants where residual sprays cannot be used. In case of outdoor mosquito infestation or infestation in public places, the residual spray can be freely used without the fear of adulteration in food material. The residual spray has a slight odour but is 100% effective for elimination of mosquitoes in no time.
  %p
    We also have mosquitoes killing racket, which when charged; kill the mosquitoes with an electrical shock wave. These rackets can be switched on and off as per requirement and extremely easy.
  %p
    Keeping in mind all your financial, hygienic and family needs in mind, we have introduced these products in market. To avail the benefits, visit our stores or simply give in a call. We are at your service day in and day out. 
