- @title = "Non toxic treatment| Chemical free treatments | Bed Bugs Exterminators"
%article#non-toxic-treatment
  %h1 Non Toxic Treatment
  %ul.list-img
    %li
      %img{:src => "/images/non-toxic-treatment1.jpg"}
    %li
      %img{:src => "/images/non-toxic-treatment2.jpg"}
    %li
      %img{:src => "/images/non-toxic-treatment3.jpg"}      
  %p
    We care for our customer's health therefore we also provide non toxic treatment for their benefit. We handle many pest related issues and we know, every pest doesn't need toxic substance. Many times by just giving non toxic treatment we can get rid of the pest.
  %p
    Our non toxic treatment is wonderful. With this method we can get rid of pests like Bed bugs, Fleas, Roaches, Ants, Wasp, Cockroach, Termite and many more. This treatment is ideal for commercial purpose as well like hotels, motels, companies, school dormitories, health care centre, hospitals and shelters.
  %p
    The non toxic treatment method is environment friendly and absolutely safe for your family and pets. One of the natural treatments we are offering is Cryonite. It freezes pest to death; thus eliminating them completely from your home.
  %p
    There is a variety of choice in the ways that non toxic treatment can be given to get rid of pest. Below are some natural remedies which will be beneficial for you.
  %ul.list-check
    %li 
      The initial step starts with maintaining proper sanitation. 
    %li 
      Vacuuming your house properly helps in eradicating the bugs and other pest.
    %li 
      Keeping basil plant, lavender flowers or bunch of pine keep flies and fleas away.
    %li 
      Dusting boric acid powder in your house is a natural therapy.
    %li 
      Spraying Diatomaceous on cockroach and ants kills them.
    %li
      Using Sticky trap is also a good trick to handle pests.
    %li
      Keeping your pets clean, by regular anti pest shampoo can keep fleas, chiggers, mites, lice and bugs away. 
  %p
    There are many advantages of using non toxic treatment in your home as well as at commercial places.
  %ul.list-check
    %li 
      It can be used anytime and anywhere. 
    %li 
      It keeps your family and pets healthy and free from any health risk.
    %li 
      Apartment occupant do not need to vacate their building.
    %li 
      If your business cannot be stopped then also pest treatment can be easily handled.
    %li 
      Hotels can immediately rent a room to customer after the treatment.
  %p
    Contact us immediately if you need non toxic treatment for pest control. Feel free to call us anytime.
