%h1 Prep Info
%p
  Before we take any step to rescue your house from a pest attack, we want you to be equipped with some basic prep info. Preparation info refers to some simple steps that you have follow before an exterminator is called in. This makes the job easier for that person. If all the preparations are taken care of, the actual job of bug or mite elimination becomes easy. It is for your benefit that we put this small burden on your shoulders. 

%ul.list-img
  %li
    %img{:src =>"./images/prep-info1.jpg"} 
  %li
    %img{:src =>"./images/prep-info2.jpg"}
  %li
    %img{:src =>"./images/prep-info3.jpg"}  
  %li
    %img{:src=>"./images/prep-info4.jpg"}
%ul
  %li
    Treat all you clothes, bed sheets, drapes to a medium or hot dryer for half an hour.
  %li
    Put them in a clear and air tight plastic bag after the above mentioned treatment. Make sure they remain there for as long a time as possible.
  %li
    Clocks, hangings, posters, picture frames should be taken down from walls.
  %li
    A major step mentioned by us in the prep info is that the mattresses, porous furniture and bed springs should be thoroughly vacuumed.
  %li
    Non porous furniture should be sponged down with hot water and antiseptic liquid.
  %li
    Empty all the drawers and keep the content sealed in a plastic bag till it is being examined by the exterminator.
  %li
    If you have fish tank at home, cover it with a plastic sheet or a clean towel.
  %li
    Your pet will need separate inspection procedure and hence has to be taken away from the home for a day or two.
  %li
    In a haste to clean, do not haphazardly throw away the infected stuff. Things that are to be thrown away should be tightly wrapped in disposal bags. 
  %li
    At the end of the procedure the house should look like the residents are moving out.
%p
  We are sure that this prep info will help you buckle up for the upcoming inspection and extermination. On top of it, if you have any doubts, we are there at your service 24x7. Do give us a call on our helpline and ask any doubt without hesitation. What are you waiting for? Put a step forward for a pest free life today!


