- @title = "Rats pest control | How to get rid of Rats | Control Rats | Bed Bugs Exterminators"
%article#rats
  %h1  Rats
  %ul.list-img
    %li
      %img{:src => "/images/rats1.jpg"}
    %li
      %img{:src => "/images/rats2.jpg"}
    %li
      %img{:src => "/images/rats3.jpg"} 
  %p
    Rats are the most damaging and troublesome rodents found almost everywhere. They contaminate and consume foods that are left open mistakenly; they damage structures and properties. Rats also spread and transmit many diseases to other animals and humans. They reside and thrive almost everywhere and anywhere.
  %h2 How to Spot a Rat Infestation?
  %p
    As rats are active throughout the year, regular checks are highly recommended to detect their presence. Inspect your yard and home thoroughly. If the answer to any of the following questions is yes, you may have a rat problem.
  %ul.list-check
    %li 
      Do you find rat droppings around dog or cat dishes or pet food storage containers?
    %li 
      Do you hear noises coming from the attic just after dusk?
    %li 
      Do you see burrows among plants or damaged vegetables in the garden?
    %li 
      Do you see rats travelling along utility lines or on the tops of fences at dusk or soon after?
    %li 
      Do you see burrows beneath your compost pile or beneath the garbage can?
    %li
      Do you see snakes hovering around your home in search of rats?
    %li
      Do you see evidence of something digging under your garden tool shed or doghouse?
  %p
    No problems we are always there to help you. We are just a phone call or a click away. Do not waste time. Wake up before these creatures wake up and call us. Our professional would there at your place once we get a call from you requesting our services.
