%h1 Recent Work
%p
  We have been eradicating pests, bugs and rodents in and around New York, Brooklyn, Bronx, Jackson Height, Queen, Ridgewood and many other places. Our Target is to 'Eliminate every species of pests troubling and interfering between us humans and our habitat'; using environment friendly and technologically upgraded methodologies. We thrive for perfection by attending to the finer details; looking into every nook and corner of the infested area and its surroundings. Most recently our major work cycle has been focussed chiefly on the 'Bed Bugs'; which are posing a threat to an extent never imagined before. However, once we attend your home for any kind of infestations; we scan the whole area and its surroundings for other harmful creatures and exterminate them upon discovery.
%p
  %strong 
    When you are left alone amidst all rashes and bitings,
    Don't be late, tell us your sightings!
    For we have the entire cure, be it pests, bugs, rodents or something you're not sure!!!
