- @title = "Rodents pest control | How to get rid of Rodents | Control Rodents | Bed Bugs Exterminators"
%article#rodents
  %h1 Rodents
  %ul.list-img
    %li
      %img{:src => "/images/rodents1.jpg"}
    %li
      %img{:src => "/images/rodents2.jpg"}
  %p
    Rodents are a major problem worldwide. Species like rats and mice spread over 35 diseases. These diseases can be spread to humans directly, through contact with these creatures's urine, faeces, saliva, and bite or simply through touch. The diseases can also be spread to humans indirectly, through ticks, mites or fleas that have fed on an infected rodent. There are nearly 3,000 species of the Rodentia family; located throughout the world. Rodents are common and formidable pests in human dwellings. They may thrive in urban as well as rural settings and are known to cause considerable damage to buildings. Control of rodent infestations is important to protect human health and to protect the infested structures from untimely damage. However, prior to undertaking any control or extermination methods, proper identification of the species is necessary. Some are more resilient than others. Some species, such as deer mice, are known to be carriers of deadly viruses and may require specific safety measures.
  %p  
    Rodents:Facts, Identification & Control
  Rats and mice are difficult to control. They present a serious menace to your home. If you're in need of control measures for these little terrorist, here's what you should know about them:
  %p
    Instincts:Rats are instinctively wary of rat control measures such as traps and bait, and colonize in attics, burrows, under concrete and porches, in wall voids and other hard-to-reach places.
  %p
    Disease:Rats can harbour and transmit a number of serious diseases. They can also introduce disease-carrying parasites such as fleas, lice and ticks into your home.
  %p
    Mice
  Instincts:They invade your home seeking food, water and warmth. Without mouse control intervention, one pair of mice may produce 200 offspring in four months.
  %p
    Disease:Each mouse can contaminate much more food than it eats. It spreads diseases related to digestive system. 
  %p
    Don't waste time if your house has been infested by these Rodents as it may be a great risk to have them in your house. It will not only put your but also your beloved pet's health at risk. We are there so don't worry, just call us and our professionals will handle this situation with ease. They make sure that you live a completely health and tension-free life thereafter. 
