- @title = "Scabies dog  NYC| Dog Infected By Scabies |Infection Of Scabies"
%article#scabies-dog
  %h1 Scabies Dog
  %p
    Suffering from scabies dog surely undergoes quite a painful experience. Scabies is caused when a dog comes into direct contact with an infected pet. On formation of papule or rash dog must be put through diagnosis to a vet. Scabies, also called Sarcoptic mange or dog mange, is the outcome of microscopic itch mites burrowing into the skin of dogs. It is highly contagious, as the mites tend to move from one host to another. When attacked by mites of scabies puppy becomes quite gloomy and very sick, of course. Same is the case with a poor scabies cat.
  %ul.list-img
    %li
      %figure
        %figcaption Scabies mite
      %img{:src => "/images/scabies-dog1.jpg"}/
    %li
      %figure
        %figcaption Scabies dog pictures
      %img{:src => "/images/scabies-dog2.jpg"}/
  %h2 Scabies dog Treatment:
  %p One of safest techniques for scabies treatment is a lime-sulphur dip easily available in shops across your place. This dip should be used along with a mild medicated shampoo, either chemical or herbal, but it should be anti-mange. In case of spread-out over the whole body, Glococorticoid therapy may prove to be useful. Medications like this have their own side effects like, tremors, ataxia etc.
  %p
    During the first few days of treatment, your dog's health may take a toll. The condition may look worse but patience must be observed while the whole procedure.
  %p
    Some people also try out cutting the dog's hair in areas where papules or lesions exist. After this, antiseptic ointments or antibiotic lotions can be applied to the infected places as well as wounds. The use of natural homeopathic sprays over the dog's coat helps in preventing this skin hazard. The best idea is to frequently clean up the living areas of your dog and also take care of his personal cleanliness. For this purpose, washing, vacuuming, dusting etc would prove to be your lethal weapons for destruction of scabies mites.
  %p
    Due to bites of chiggers dog may develop redness, itching and crusting of skin. Canine lice infestation is uncommon in the US. Yet lice dog is not another new term. Such louse exists on the dirty hair coats of mal-nourished dogs. Dogs have to cope up with two types of canine lice- sucking louse and chewing louse. Hives, medically known as Urticaria is an allergic reaction to insect bites amongst dogs. When contracted hives dog has to go through the experience of having small bumps over the skin, face, tongue and ears. Excessive itching and swelling in eyes and face may also take place. Kindly take good nourishing care of your beloved pet or else he may have to go through very difficult phases just because of these pesky pests.
