- @title = "Spiders pest control | How to get rid of Spiders | Control Spiders | Bed Bugs Exterminators"
%article#spiders
  %h1 Spiders
  %ul.list-img
    %li
      %img{:src => "/images/spiders1.jpg"}
    %li
      %img{:src => "/images/spiders2.jpg"}
    %li
      %img{:src => "/images/spiders3.jpg"}
  %p
    Spiders are a major problem to have them in the house. All species of these arthropods are not dangerous. The one which are, bite only if in danger or accidentally touched e.g. in shoes or clothing etc. Spider-bite can cause a reaction in a person who is allergic to them. It may be as unnoticeable as a wasp sting or so severe that sometimes hospitalisation of the affected person is necessary. It might even lead to death. Some spiders are very dangerous and can leave you in extreme distress. Therefore, it is best to be cautious around them. A word to the wise; do not touch any spider matter how it is classified. We would be the best person to take care of them. We would do everything possible keep them away from your house.
  %p
    It has always been said that we should do the work that we are an expert into or you may land up in problems later. Taking care of spiders and other pests that are making life a hell for you is our work. We have experts who can take control of the situation without any problem. But before we go ahead and fight these creatures we should find the reason behind their entry into our homes.
  %ul.list-check
    %li
      %strong Excess vegetation very close to the house:
      Check for tall grasses near your house and overhanging trees as they can attract insects. So keep the premises tidy and clean them at regular intervals.
    %li
      %strong Open water near your home:
      Open water on the property provides a breeding source for many insects like mosquitoes and midges; which in turn attracts spiders. Houses built right near a lake are prime locations for their infestations.
    %li
      %strong Gaps around windows or doors and unscreened vents:
      Large gaps in siding, unsealed openings around pipe penetrations, unscreened vents and windows will allow the entry of these arachnids' in the house. 
    %li
      %strong Over use of chemical fertilisers:
      Avoid using chemical fertilizers, pesticides etc., on your property. Excess nitrogen attracts many insects, such as aphids-a spider feast.
    %li
      %strong Readily available supply of food and water:
      Spiders are opportunists and are attracted to areas where food (insects) and moisture are abundant. Eliminate insect breeding areas; reduce moisture by repair leaking pipes. And just see that it will work miracles to keep these creatures away.
  %p
    You can surely take the situation under control if we follow some of these basic checks. And if you find that the situation is beyond your control don't panic just call our 24x7 helpline and see the wonders that we perform. 
