- @title = "Termites| Termites pest control | How to get rid of Termites | Control Termites | Bed Bugs Exterminators"
%article#termites
  %h1 Termites
  %ul.list-img
    %li
      %img{:src => "/images/termites1.jpg"}
    %li
      %img{:src => "/images/termites2.jpg"}
  %p
    Termites are around us from the age of dinosaurs. They still manage themselves to survive against the change in climatic condition. They show surprisingly complex social behaviour. They raise their young ones as a group. Their favourite hide outs are damp places, woods and sometimes books.
  %p
    Termites eat nonstop i.e. 24x7. They eat wood at very fast pace. The worst thing about them is you are unaware of the things that are going just below your nose. The scariest thing about their infestation is that it can take up to several years before damage is noticeable. The damage caused by mites is more than by natural calamities like fire, storm and earthquake combined. It is not at all easy to find mite damage. 
    
    They construct mud tubes to travel undetected. These tubes are composed of particles of soil, wood or debris and can vary in thickness from narrow tubes to thick as your arm.
  %h2 Don't be a victim of termites!!!
  %p With some of our tips and remedies fight them and make your home mites free.
  %ul.list-check
    %li
      As mites are attracted towards moisture, try to keep things as dry as possible inside and outside as well.
    %li
      Regular inspection in every look and corner of furniture.
    %li
      Avoid contact with soil around your home.
    %li
      Avoid planting trees very near to your house.
  %p
    Hope some of our tips and remedies will prove beneficial to you. 
  %h2 We provide services to handle the menace caused by these creatures.
  %p
    Please pick up your phone and call us now...We will take care of termites with our own ways.
  If you are in need of service feel free to call us anytime.
