- @title = "Tick Dog NYC |Dog Infected By Tick| Infection Of Tick"
%article#tick-dog
  %h1 Tick Dog
  %p
    A dog infested by ticks has gained the popularity of being a Tick dog! Ticks are highly dangerous insects that can harm your dog to the extreme. Same is the case with an infested tick cat. In both cases the condition of your beloved pet can become worse with time. Hence, a tick attack demands immediate action within 24 hours. Ticks are Arachnids belonging to the family of Ixodoidea. They feed on the blood of humans and animals, occasionally sucking in reptiles and amphibians blood.
  %h2 Take a quick view of the tick dog pictures:
  %ul.list-img
    %li
      %figure
        %figcaption Tick attached to dog
      %img{:src => "/images/tick-dog1.jpg"}/
    %li
      %figure
        %figcaption Unfed and fed dog tick
      %img{:src => "/images/tick-dog2.jpg"}/
  %p
    See the difference between an unfed brown dog tick and an engorged tick. Imagine the quantity of blood that they suck in after sticking to your pet for several days together.
  There is quite a scary number of borne tick disease dog can fall prey to. Some of the major ones include- Tick paralysis among dogs, Lyme disease, Rocky Mountain spotted fever, Babesiosis, Ehrlichiosis, Anaplasmosis, and Anaemia etc. Weakness, lameness, joint swelling etc are some other general effects that a tick-bite may have.
  %p
    The most commonly found ticks are-
  %ul.list-check
    %li
      %h3 American dog tick
      This tick carries Rocky Mountain spotted fever and is one of the well-known hard ticks found in North America. It is also known as a Wood tick dog and its hosts are primarily dogs.
    %li
      %h3 Deer tick
      Also known as black-legged tick is defamed for spreading Lyme disease and prefers to have its host from livestock.
    %li
      %h3 Lone star tick
      Lone star ticks are quite aggressive and prefer attacking humans. However, lone star tick dog and other animal cases are also known to have taken place.
    %li
      %h3 Southern cattle tick
      It attacks sheep, horses, goats and other species as well, but cattle are its favourite hosts.
  %p
    An attached tick dog removal is quite easily possible, as they are visible to the naked eyes. One can just brush them off the skin using a towel or piece of cloth; bathing in warm water is also effective in this procedure. In case of tick prevention dog should be checked in a two-fold way; first you should prevent your dog from running off to grassy woody areas, and last powders, sprays including other tick repellents must be kept at handy. Mind it, there is no accurate way to eradicate ticks completely, especially after knowing that some ticks act very aggressively in pursuit of their hosts. So, if you're planning to buy a concert ticket dog and pups need to be taken care of at first. Otherwise the whole fun and frolic would be lost.
